input[type="submit"], input[type="button"], button, .pseudobutton {
	-webkit-appearance: none;
	background-color: $primary;
	border: $borderThickness $primary solid;
	@include border-radius($defaultRadius);
	cursor: pointer;
	max-width: $colWidth * 1px;
	padding: 6px 0px;
	text-align: center;
	width: 100%;
	
	
	
	//width: ((2 / 12 * $siteWidth) - $gutter) / $siteWidth * 100%;
	//max-width: ((2 / 12 * $siteWidth) - $gutter) / $siteWidth * 100%;
	
	//.col-2 & { max-width: ((2/2 * $siteWidth) - ($gutter)) / $siteWidth * 100%; }
//	.col-3 & { max-width: ((2/3 * $siteWidth) - ($gutter)) / $siteWidth * 100%; }
//	.col-4 & { max-width: ((2/4 * $siteWidth) - ($gutter)) / $siteWidth * 100%; }
//	.col-5 & { max-width: ((2/5 * $siteWidth) - ($gutter)) / $siteWidth * 100%; }
//	.col-6 & { max-width: ((2/6 * $siteWidth) - ($gutter)) / $siteWidth * 100%; }
//	.col-7 & { max-width: ((2/7 * $siteWidth) - ($gutter)) / $siteWidth * 100%; }
//	.col-8 & { max-width: ((2/8 * $siteWidth) - ($gutter)) / $siteWidth * 100%; }
//	.col-9 & { max-width: ((2/9 * $siteWidth) - ($gutter)) / $siteWidth * 100%; }
//	.col-10 & { max-width: ((2/10 * $siteWidth) - ($gutter)) / $siteWidth * 100%; }
//	.col-11 & { max-width: ((2/11* $siteWidth) - ($gutter)) / $siteWidth * 100%; }
//	.col-12 & { max-width: ((2/12 * $siteWidth) - ($gutter)) / $siteWidth * 100%; }
	
	&.danger {
		background-color: $danger;
		border-color: $danger;
		
		&:hover {
			background-color: $dangerLight;
			border-color: $dangerLight;
		}
	}
	
	&.right, &.left {
		//clear: right;
		float: right;
		//margin-right: ($gutter / 2) / ($siteWidth) * 100%;
		margin-bottom: $elementMarginBottom;
		//.col-4 & { margin-right: 0; }//($gutter / 2) / ($siteWidth * 4) * 100%; }
		//.col-6 & { margin-right: ($gutter / 2) / ($siteWidth * 6) * 100%; }
		//.col-12 & { margin-right: ($gutter / 2) / ($siteWidth * 12) * 100%; }
	}
	&.left {
		float: left;
	}
	&.clearbtn {
		clear: both;
	}
	&.single { margin-left: 100%; }
	&.down { margin-top: 23 / 12 * 1em;}

	&.bottom.right, &.bottom.left {
		float: none;
		position: absolute;
		right: $gutter/2 * 1px;

		@include size-lg {
			bottom: $gutter * 1px + 10px;
		}	
		
		//margin-right: ($gutter / 2) / ($siteWidth) * 100%;
		//max-width: ((2/12 * $siteWidth) - ($gutter)) / $siteWidth * 100%;
		//.col-4 & { max-width: ((4/12 * $siteWidth) - ($gutter)) / $siteWidth * 100%; }
	}
	&.center {
		display: inherit;
		margin-left: auto;
		margin-right: auto;
	}
	&.bottom.left {
		left: 0;
		right: auto;
	}
	
	&:hover {
		background-color: $shade12;
		border-color: $shade12;
	}
	&:disabled {
		background-color: $shade12;
		border-color: $shade12;
		cursor: default;
	}
	&.danger:disabled {
		background-color: $dangerLight;
		border-color: $dangerLight;
	}
	
	
	label & {
		display: block;
		margin-top: $elementMarginBottom; // in fact, this is the labels bottom margin		
	}
	
}

	label.pseudobutton {
		display: block;
		margin-top: $elementMarginBottom; // in fact, this is the labels bottom margin		
	}



input[type="text"], input[type="password"] {
	border: $borderThickness $primary solid;
	@include border-box;
	@include border-radius($defaultRadius);	
	
	padding: 6px $gutter / 2 * 1px;	
	width: 100%;
	
	label & {
		margin-top: $elementMarginBottom; // in fact, this is the labels bottom margin
		width: 100%; 
	}
	
	&:disabled {
		background-color: $shade20;
		border-color: $shade22;
		cursor: default;
	}
	&.semiDisabled:disabled {
		background-color: $white;
	}
	&.error {
		background-color: $danger;
		color: $white;
	}
	&.error::selection { background: $dangerLight; }
	
	&.duplicate {
		color: $danger;
	}
}

input {
	&.hidden {
		display: none;
	}
}

label {
	//margin-bottom: $elementMarginBottom;
	
	&.textoverflow {
		overflow: visible;
		white-space: nowrap;
		input {
			display: inline-block;
			float: left;
		}
	}	
}
form {
	//display: inline;
	fieldset {
		@include clearfix;
	}
}

.options {
	min-height: 3em;
	flex-direction: row!important;
	flex-wrap: wrap;
	//float: left;
		
	&.down { margin-top: 22 / 12 * 1em;}
			
	label {
		float: left;
		font-size: 12px;
		margin-bottom: $elementMarginBottom;
		width: 100%;
	}
	
	#editModulesPremium.option {
		width: 90px;
		
		label {
			width: 90px;
		}
	}
	
	.option {
		//float: left;
		//display: block;
		display: inline-block;
		position: relative;
		//padding-left: 60px;
		width: 45px;
		//margin-bottom: 12px;
		cursor: pointer;
	
		@include user-select(none);
	  
		input { 
			position: absolute;
			opacity: 0;
			cursor: pointer;
			
			top: 0; left: 0; right: 0; bottom: 0;
		}
		
		label {
			background-color: $shade12;
			border: $borderThickness $primary solid;
			@include border-radius($defaultRadius);
			@include border-box;
			color: $white;
			cursor: pointer;
			display: inline-block;
			float: none;
			left: 0;
			padding: 6px 0px;
			//position: absolute;
			text-align: center;
			text-transform: uppercase;
			@include transition(all 300ms ease);
			top: 0;			
			width: 45px;
		}
		input:checked ~ label {
			background-color: $primary;
			//&:after {
//				display: block;
//			}
		}
		input:disabled ~ label {
			background-color: $shade22;
			border-color: $shade22;
		}
		
	}
		
}

	
.checkbox {
	//float: left;
//	display: block;
	display: inline-block;
	position: relative;
	width: 25px;
	height: 25px;
	cursor: pointer;
	margin-top: 0px;
	margin-bottom: -6px;

	@include user-select(none);
  
	input { 
		position: absolute;
		//opacity: 0;
		cursor: pointer;
		
		top: 0; left: 0; right: 0; bottom: 0;
		visibility: hidden;
	}
	
	label.icon {
		position: absolute;
		top: 0;
		left: 0;
		height: 23px;
		width: 23px;
		
		margin-bottom: 0;
		background-color: $white;
		
		text-align: center;
		
		cursor: pointer;
		
		border: $borderThicknessOption $line1 solid;
		@include border-radius(100%);
		@include border-box;
		@include transition(all 200ms ease);
	
		&:after {
				content: "";
				position: absolute;
				display: none;

				left: 5px;
				top: 1px;
				width: 5px;
				height: 10px;
				border: solid white;
				border-width: 0 3px 3px 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
	}
	input:checked ~ label.icon {
		background-color: $primary;
		
		border: $borderThickness $primary solid;
		&:after {
			display: block;
		}
		&:before {
			display: block;
		}		
	}
	
	// Styles for modules that have been activated once before, no impact on JS, only different unchecked style
	&.previouslyChecked label.icon, &.thirdState label.icon, &.pC label.icon {
		background-color: $shade22;
		
		border: $borderThickness $shade22 solid;
		&:after {
			display: block;
		}
		&:before {
			display: block;
		}		
	}
	
	&.ok, &.temporary {
		input:checked ~ label.icon {
			//background-color: $ok;
//			border: $borderThickness $ok solid;

			background-color: $white;
			border: $borderThickness $primary solid;
			
			&:after {
				border-color: $primary;
			}
			&:before {
				border-color: $primary;
			}	
		}
	}
	
	
	
	&.danger {
		input:checked ~ label.icon {
			background-color: $danger;
			border: $borderThickness $danger solid;
		}
		label.icon:after {
			content: "";
			position: absolute;
			display: none;

			left: 5px;
			top: 0px;
			width: 6px;
			height: 6px;
			border: solid white;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		label.icon:before {
			content: "";
			position: absolute;
			display: none;

			left: 5px;
			top: 9px;
			width: 6px;
			height: 6px;
			border: solid white;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(225deg);
			-ms-transform: rotate(225deg);
			transform: rotate(225deg);
		}
	}
	
	&.example {
		display: block;
		cursor: default;
		border-bottom: 2*$borderThickness $primary solid;
		padding-bottom: 5px;
	}
	
}

select {
	-webkit-appearance: none;
	border: $borderThickness $primary solid;
	@include border-box;
	@include border-radius($defaultRadius);	
	padding: 6px $gutter / 2 * 1px;	
	text-transform: none;
	width: 100%;
	
	label & {
		margin-top: $elementMarginBottom; // in fact, this is the labels bottom margin		
	}
}

.selectAllButton {
	cursor: pointer;
	text-decoration: underline;
}
	