/*

GRID 
columns and rows

- General
- Rows
- Columns

*/

/*
 * GENERAL
 */

.clear {
	clear: both;
	font-size: 0; line-height: 0;
	margin-bottom: $rowMarginBottom;
}

.column {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}
.grow {
	//display: flex;
	flex-grow: 1!important;
	max-height: 100%;
}
.justify-end {
	justify-content: flex-end;
}
.self-end {
	align-self: flex-end;
}
.mb-row {
	margin-bottom: $rowMarginBottom!important;
}
.mb-element {
	margin-bottom: $elementMarginBottom!important;
}



/*
 * ROWS
 */

.row {	
	@include border-box;
	align-content: flex-start;
	align-items: stretch;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 0;
	
	//margin-bottom: $rowMarginBottom;
	max-width: (12 * $colWidth / 2 + $gutter * 8) * 1px;
	//margin-left: #{ $gutter / 2 }px;	
	//margin-right: #{ $gutter / 2 }px;	
	position: relative;
	width: 100%;//calc(100% + #{$gutter * 2}px);

	&.responsive-jumps, & [class*="col-"]:not(.row) .row.responsive-jumps {
		@include size-1 {
			//max-width: (1 * $colWidth / 2 + 1 * $gutter) * 1px;
		}
		@include size-2 {
			max-width: (2 * $colWidth / 2 + 1 * $gutter) * 1px;
		}
		@include size-3 {
			//max-width: (3 * $colWidth / 2 + 3 * $gutter) * 1px;
		}
		@include size-4 {
			max-width: (4 * $colWidth / 2 + 2 * $gutter) * 1px;
		}
		@include size-5 {
			//max-width: (5 * $colWidth / 2 + 5 * $gutter) * 1px;
		}
		@include size-6 {
			max-width: (6 * $colWidth / 2 + 3 * $gutter) * 1px;
		}
		@include size-7 {
			//max-width: (7 * $colWidth / 2 + 7 * $gutter) * 1px;
		}
		@include size-8 {
			max-width: (8 * $colWidth / 2 + 4 * $gutter) * 1px;
		}
		@include size-9 {
			//max-width: (9 * $colWidth / 2 + 9 * $gutter) * 1px;
		}
		@include size-10 {
			max-width: (10 * $colWidth / 2 + 5 * $gutter) * 1px;
		}
		@include size-11 {
			//max-width: (11 * $colWidth / 2 + 11 * $gutter) * 1px;
		}
		@include size-12 {
			max-width: (12 * $colWidth / 2 + 6 * $gutter) * 1px;
		}
	}

	@include size-md {
		flex-direction: row;
		//flex-wrap: nowrap;
		margin-left: #{ $gutter / 2 * -1 }px;	
		margin-right: #{ $gutter / 2 * -1 }px;
		//width: calc(100% + #{$gutter * 2}px);	
		width: 100%;

		.expandedNav & {
			margin-left: #{ $gutter / 2 }px;	
			margin-right: #{ $gutter / 2 }px;
		}
	}
	@include size-xl {
		margin-left: #{ $gutter / 2 }px;	
		margin-right: #{ $gutter / 2 }px;
	}

	> [class*="col-"]  {
		display: flex;
		flex-direction: column;
		font-size: 16px;
		flex-grow: 0;

		&.input {
			font-size: 12px;
		}

		
	}
	&.mobile-col > [class*="col-"] {
		min-width: calc(100% - #{$gutter * 1}px)!important;
		margin-bottom: 0;
		
		@include size-lg {
			min-width: 0!important;
		}
	}
	&.mobile-col {
		flex-direction: column!important;
		@include size-lg {
			flex-direction: row!important;
		}
		&.grow {
			justify-content: stretch;
			@include size-lg {
				justify-content: space-between;
			}
		}
	}
	
	table {
		font-size: 16px;
	}
	
	&:last-of-type {
		//margin-bottom: $rowMarginBottom;
	}
	
	&.mb {
		margin-bottom: $rowMarginBottom;
	}

	&.grow {
		flex-grow: 1;
		justify-content: space-between;
		align-items: stretch;
 		align-content: stretch;
		&.justify-start {
			justify-content: flex-start;
		}
	}

	& .row {
		margin-left: 0;
		margin-right: 0;
		flex-direction: row;
	}
}
/*.row .row {
	font-size: 0;
	margin-bottom: 0;
	> * {
		font-size: 16px;
	}
}*/
.wide .row {
	margin-right: ($navWidth + $siteMargin) * 1px;
	@include size-xl {
		margin-right: ($navWidthExpanded + $siteMargin) * 1px;
	}
}

.libraryPage .wide .row {
	margin-right: ($navWidthLibraryPage + $siteMargin) * 1px;
}


/*
 * COLUMNS
 */

[class*="col-"] {
	//float: left;
	@include border-box;
	display: inline-block;	
	padding: 0;
	margin-bottom: $rowMarginBottom;
	margin-left: #{ $gutter / 2 }px;	
	margin-right: #{ $gutter / 2 }px;	
	max-width: calc(100% - #{$gutter}px);
	//position: relative;
	vertical-align: top;
	width: calc(100% - #{$gutter}px);

	.mb {
		margin-bottom: $elementMarginBottom;
	}	

	/*@include size-xl {
		margin-bottom: 0;
	}*/
	
	/*&:after {
	    content: "";
	    clear: both;
		display: block;
		
		width: 100%;
	}*/

	
	&.grow.right {
		align-self: flex-end;
	}
	&.down { margin-top: 22 / 12 * 1em;}
	&.text-right {
		text-align: right;
	}

	&:not(.row) .row {		
		margin-left: $gutter/2 * -1px;
		margin-right: $gutter/2 * -1px;
		width: calc(100% + #{$gutter * 1}px);
		max-width: calc(100% + #{$gutter * 1}px);
	}

}
/*div[class*="col-"] {
	display: flex;
	flex-direction: column;
}*/
[class*="col-"].row {
	/*margin-left: #{ $gutter * -1/2 }px;
	margin-right: #{ $gutter * -1/2 }px;
	width: calc(100% + #{$gutter}px);*/
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 0;
	max-width: 100%;//calc(100% + 18px);

	@include size-md {
		max-width: calc(100% + 36px);
	}
	
	//@include size-md {
		margin-left: 0px;
		margin-right: 0px;
	//}

	
	width: calc(100% + 36px);

	/*> * {
		font-size: 13px;
	}*/
	
	//width: 200%;
	// [class*="col-"] {
	// 	display: inline-block;
	// }
	// [class*="col-"]:first-child {
	// 	//margin-left: 0;
	// }
	// [class*="col-"]:last-child {
	// 	//margin-right: 0;
	// }
}

/*[class*="col-"] [class*="col-"] {
	padding-left: 0;
}
[class*="col-"] [class*="col-"] + [class*="col-"] {
	padding-left: $gutter * 1px;
}*/


.col-1  { width: (1 * $colWidth / 2 - $gutter * 0.5) * 1px; }
.col-2  { width: (2 * $colWidth / 2 + $gutter * 0) * 1px; }
.col-3  { width: (3 * $colWidth / 2 + $gutter * 0.5) * 1px; }
.col-4  { width: (4 * $colWidth / 2 + $gutter * 1) * 1px; }
.col-5  { width: (5 * $colWidth / 2 + $gutter * 1.5) * 1px; }
.col-6  { width: (6 * $colWidth / 2 + $gutter * 2) * 1px; }
.col-7  { width: (7 * $colWidth / 2 + $gutter * 2.5) * 1px; }
.col-8  { width: (8 * $colWidth / 2 + $gutter * 3) * 1px; }
.col-9  { width: (9 * $colWidth / 2 + $gutter * 3.5) * 1px; }
.col-10  { width: (10 * $colWidth / 2 + $gutter * 4) * 1px; }
.col-11  { width: (11 * $colWidth / 2 + $gutter * 4.5) * 1px; }
.col-12  { width: (12 * $colWidth / 2 + $gutter * 5) * 1px; }

.col-1.row  { width: (1 * $colWidth / 2 + $gutter * 0.5) * 1px; }
.col-2.row  { width: (2 * $colWidth / 2 + $gutter * 1) * 1px; }
.col-3.row  { width: (3 * $colWidth / 2 + $gutter * 1.5) * 1px; }
.col-4.row  { width: (4 * $colWidth / 2 + $gutter * 2) * 1px; }
.col-5.row  { width: (5 * $colWidth / 2 + $gutter * 2.5) * 1px; }
.col-6.row  { width: (6 * $colWidth / 2 + $gutter * 3) * 1px; }
.col-7.row  { width: (7 * $colWidth / 2 + $gutter * 3.5) * 1px; }
.col-8.row  { width: (8 * $colWidth / 2 + $gutter * 4) * 1px; }
.col-9.row  { width: (9 * $colWidth / 2 + $gutter * 4.5) * 1px; }
.col-10.row  { width: (10 * $colWidth / 2 + $gutter * 5) * 1px; }
.col-11.row  { width: (11 * $colWidth / 2 + $gutter * 5.5) * 1px; }
.col-12.row  { width: (12 * $colWidth / 2 + $gutter * 6) * 1px; }

/*.col-1  { max-width: (1 * $colWidth / 2 - $gutter * 0.5) * 1px; }
.col-2  { max-width: (2 * $colWidth / 2 + $gutter * 8/12) * 1px; }
.col-3  { max-width: (3 * $colWidth / 2 + $gutter * 1) * 1px; }
.col-4  { max-width: (4 * $colWidth / 2 + $gutter * 1.5) * 1px; }
.col-5  { max-width: (5 * $colWidth / 2 + $gutter * 2) * 1px; }
.col-6  { max-width: (6 * $colWidth / 2 + $gutter * 2.5) * 1px; }
.col-7  { max-width: (7 * $colWidth / 2 + $gutter * 3) * 1px; }
.col-8  { max-width: (8 * $colWidth / 2 + $gutter * 3.5) * 1px; }
.col-9  { max-width: (9 * $colWidth / 2 + $gutter * 4) * 1px; }
.col-10  { max-width: (10 * $colWidth / 2 + $gutter * 4.5) * 1px; }
.col-11  { max-width: (11 * $colWidth / 2 + $gutter * 5) * 1px; }
.col-12  { max-width: (12 * $colWidth / 2 + $gutter * 5.5) * 1px; }*/

/*.col-1  { max-width: (1 * $colWidth / 2 - $gutter * 0.5) * 1px; }
.col-2  { max-width: 2 * $colWidth / 2 * 1px; }
.col-3  { max-width: (3 * $colWidth / 2 + $gutter * 0.5) * 1px; }
.col-4  { max-width: (4 * $colWidth / 2 + $gutter *  1) * 1px; }
.col-5  { max-width: (5 * $colWidth / 2 + $gutter *  1.5) * 1px; }
.col-6  { max-width: (6 * $colWidth / 2 + $gutter *  2) * 1px; }
.col-7  { max-width: (7 * $colWidth / 2 + $gutter *  2.5) * 1px; }
.col-8  { max-width: (8 * $colWidth / 2 + $gutter *  3) * 1px; }
.col-9  { max-width: (9 * $colWidth / 2 + $gutter *  3.5) * 1px; }
.col-10  { max-width: (10 * $colWidth / 2 + $gutter *  4) * 1px; }
.col-11  { max-width: (11 * $colWidth / 2 + $gutter *  4.5) * 1px; }
.col-12  { max-width: (12 * $colWidth / 2 + $gutter *  5) * 1px; }*/


table.dwo tr td, table.dwo tr th, input { // aparte style, want ze hebben een $gutter padding
	&[class*="col-"] {
		margin-bottom: 0;
		&:last-child {
			margin-right: 0;
		}
	}
	/*&.col-1  { width: (1 * $colWidth / 2 - $gutter * 0.5 - $gutter) * 1px; }
	&.col-2  { width: (2 * $colWidth / 2 + $gutter * 0 - $gutter) * 1px; }
	&.col-3  { width: (3 * $colWidth / 2 + $gutter * 0.5 - $gutter) * 1px; }
	&.col-4  { width: (4 * $colWidth / 2 + $gutter * 1 - $gutter) * 1px; }
	&.col-5  { width: (5 * $colWidth / 2 + $gutter * 1.5 - $gutter) * 1px; }
	&.col-6  { width: (6 * $colWidth / 2 + $gutter * 2 - $gutter) * 1px; }
	&.col-7  { width: (7 * $colWidth / 2 + $gutter * 2.5 - $gutter) * 1px; }
	&.col-8  { width: (8 * $colWidth / 2 + $gutter * 3 - $gutter) * 1px; }
	&.col-9  { width: (9 * $colWidth / 2 + $gutter * 3.5 - $gutter) * 1px; }
	&.col-10  { width: (10 * $colWidth / 2 + $gutter * 4 - $gutter) * 1px; }
	&.col-11  { width: (11 * $colWidth / 2 + $gutter * 4.5 - $gutter) * 1px; }
	&.col-12  { width: (12 * $colWidth / 2 + $gutter * 5 - $gutter) * 1px; }*/

	// &.col-1  { width: (1 * $colWidth / 2 - (1/12 * 4) - 9 ) * 1px; }
	// &.col-2  { width: (2 * $colWidth / 2 - (1/12 * 4) - 9) * 1px; }
	// &.col-3  { width: (3 * $colWidth / 2 - (1/12 * 4) - 9) * 1px; }
	// &.col-4  { width: (4 * $colWidth / 2 - (1/12 * 4) - 9) * 1px; }
	// &.col-5  { width: (5 * $colWidth / 2 - (1/12 * 4) - 9) * 1px; }
	// &.col-6  { width: (6 * $colWidth / 2 - (1/12 * 4) - 9) * 1px; }
	// &.col-7  { width: (7 * $colWidth / 2 - (1/12 * 4) - 9) * 1px; }
	// &.col-8  { width: (8 * $colWidth / 2 - (1/12 * 4) - 9) * 1px; }
	// &.col-9  { width: (9 * $colWidth / 2 - (1/12 * 4) - 9) * 1px; }
	// &.col-10  { width: (10 * $colWidth / 2 - (1/12 * 4) - 9) * 1px; }
	// &.col-11  { width: (11 * $colWidth / 2 - (1/12 * 4) - 9) * 1px; }
	// &.col-12  { width: (12 * $colWidth / 2 - (1/12 * 4) - 9) * 1px; }

	&.col-1  { width: (1 * $colWidth / 2 - (1/12 * 4) - $gutter / 2) * 1px; }
	&.col-2  { width: (2 * $colWidth / 2 - (1/12 * 4) + 0.5 * $gutter - $gutter/2) * 1px; }
	&.col-3  { width: (3 * $colWidth / 2 - (1/12 * 4) + 1 * $gutter - $gutter/2) * 1px; }
	&.col-4  { width: (4 * $colWidth / 2 - (1/12 * 4) + 1.5 * $gutter - $gutter/2) * 1px; } /////
	&.col-5  { width: (5 * $colWidth / 2 - (1/12 * 4) + 2 * $gutter - $gutter/2) * 1px; }
	&.col-6  { width: (6 * $colWidth / 2 - (1/12 * 4) + 2.5 * $gutter - $gutter/2) * 1px; }
	&.col-7  { width: (7 * $colWidth / 2 - (1/12 * 4) + 3 * $gutter - $gutter/2) * 1px; }
	&.col-8  { width: (8 * $colWidth / 2 - (1/12 * 4) + 3.5 * $gutter - $gutter/2) * 1px; }
	&.col-9  { width: (9 * $colWidth / 2 - (1/12 * 4) + 4 * $gutter - $gutter/2) * 1px; }
	&.col-10  { width: (10 * $colWidth / 2 - (1/12 * 4) + 4.5 * $gutter - $gutter/2) * 1px; }
	&.col-11  { width: (11 * $colWidth / 2 - (1/12 * 4) + 5 * $gutter - $gutter/2) * 1px; }
	&.col-12  { width: (12 * $colWidth / 2 - (1/12 * 4) + 5.5 * $gutter - $gutter/2) * 1px; }
/*
	&.col-1  { width: (1 * $colWidth / 2 - $gutter * 0.5 - $gutter) * 1px; }
	&.col-2  { width: (2 * $colWidth / 2 - $gutter * 0.5) * 1px; }
	&.col-3  { width: (3 * $colWidth / 2 + $gutter * 0.5 - $gutter) * 1px; }
	&.col-4  { width: (4 * $colWidth / 2 + $gutter *  1 - $gutter) * 1px; }
	&.col-5  { width: (5 * $colWidth / 2 + $gutter *  1.5 - $gutter) * 1px; }
	&.col-6  { width: (6 * $colWidth / 2 + $gutter *  2 - $gutter) * 1px; }
	&.col-7  { width: (7 * $colWidth / 2 + $gutter *  2.5 - $gutter) * 1px; }
	&.col-8  { width: (8 * $colWidth / 2 + $gutter *  3 - $gutter) * 1px; }
	&.col-9  { width: (9 * $colWidth / 2 + $gutter *  3.5 - $gutter) * 1px; }
	&.col-10  { width: (10 * $colWidth / 2 + $gutter *  4 - $gutter) * 1px; }
	&.col-11  { width: (11 * $colWidth / 2 + $gutter *  4.5 - $gutter) * 1px; }
	&.col-12  { width: (12 * $colWidth / 2 + $gutter *  5 - $gutter) * 1px; }
	*/
	
//	&.col-1  { max-width: (1 * $colWidth / 2 - $gutter * 0.5 - $gutter) * 1px; }
//	&.col-2  { max-width: (2 * $colWidth / 2 - $gutter) * 1px; }
//	&.col-3  { max-width: (3 * $colWidth / 2 + $gutter * 0.5 - $gutter) * 1px; }
//	&.col-4  { max-width: (4 * $colWidth / 2 + $gutter *  1 - $gutter) * 1px; }
//	&.col-5  { max-width: (5 * $colWidth / 2 + $gutter *  1.5 - $gutter) * 1px; }
//	&.col-6  { max-width: (6 * $colWidth / 2 + $gutter *  2 - $gutter) * 1px; }
//	&.col-7  { max-width: (7 * $colWidth / 2 + $gutter *  2.5 - $gutter) * 1px; }
//	&.col-8  { max-width: (8 * $colWidth / 2 + $gutter *  3 - $gutter) * 1px; }
//	&.col-9  { max-width: (9 * $colWidth / 2 + $gutter *  3.5 - $gutter) * 1px; }
//	&.col-10  { max-width: (10 * $colWidth / 2 + $gutter *  4 - $gutter) * 1px; }
//	&.col-11  { max-width: (11 * $colWidth / 2 + $gutter *  4.5 - $gutter) * 1px; }
//	&.col-12  { max-width: (12 * $colWidth / 2 + $gutter *  5 - $gutter) * 1px; }
}




.libraryPage {
	.col-1  { width: (1 * $colWidthLibraryPage / 2 - $gutter * 0.5) * 1px; }
	.col-2  { width: 2 * $colWidthLibraryPage / 2 * 1px; }
	.col-3  { width: (3 * $colWidthLibraryPage / 2 + $gutter * 0.5) * 1px; }
	.col-4  { width: (4 * $colWidthLibraryPage / 2 + $gutter *  1) * 1px; }
	.col-5  { width: (5 * $colWidthLibraryPage / 2 + $gutter *  1.5) * 1px; }
	.col-6  { width: (6 * $colWidthLibraryPage / 2 + $gutter *  2) * 1px; }
	.col-7  { width: (7 * $colWidthLibraryPage / 2 + $gutter *  2.5) * 1px; }
	.col-8  { width: (8 * $colWidthLibraryPage / 2 + $gutter *  3) * 1px; }
	.col-9  { width: (9 * $colWidthLibraryPage / 2 + $gutter *  3.5) * 1px; }
	.col-10  { width: (10 * $colWidthLibraryPage / 2 + $gutter *  4) * 1px; }
	.col-11  { width: (11 * $colWidthLibraryPage / 2 + $gutter *  4.5) * 1px; }
	.col-12  { width: (12 * $colWidthLibraryPage / 2 + $gutter *  5) * 1px; }
}

