/*

MIXINS
Helpers for tedious (crossbrowser) work.

- General (transition, box-shadow, border-radius)
- Behaviour (border-box, user-select, clearfix)
- Flexbox (flex, align-items, justify-content)
- Forms (buttons appearance, placeholder)

*/

/*
 * GENERAL
 */

@mixin transition($value) {
	-webkit-transition: $value;
	-moz-transition: $value;
	-ms-transition: $value;
	-o-transition: $value;
	transition: $value;
}
@mixin box-shadow($hor, $ver, $blur, $spread, $color) {
	-webkit-box-shadow: $hor $ver $blur $spread $color;
	-moz-box-shadow: $hor $ver $blur $spread $color;
	box-shadow: $hor $ver $blur $spread $color;
}
@mixin border-radius($tl, $tr:null, $br:null, $bl:null) {
	@if $tr == null {
	 $tr : $tl; $br : $tl; $bl : $tl;	
	} 
	
	-webkit-border-top-left-radius: $tl;
	-webkit-border-top-right-radius: $tr;
	-webkit-border-bottom-right-radius: $br;
	-webkit-border-bottom-left-radius: $bl;
	-moz-border-radius-topleft: $tl;
	-moz-border-radius-topright: $tr;
	-moz-border-radius-bottomright: $br;
	-moz-border-radius-bottomleft: $bl;
	border-top-left-radius: $tl;
	border-top-right-radius: $tr;
	border-bottom-right-radius: $br;
	border-bottom-left-radius: $bl;
}

/*
 * Media queries
 */

@mixin size-sm {
	@media (min-width: #{$sizeSm}px) { @content; }
}
@mixin size-md {
	@media (min-width: #{$sizeMd}px) { @content; }
}
@mixin size-lg {
	@media (min-width: #{$sizeLg}px) { @content; }
}
@mixin size-xl {
	@media (min-width: #{$sizeXl}px) { @content; }
}
@mixin size-2xl {
	@media (min-width: #{$size2xl}px) { @content; }
}


@mixin size-1 {
	@media (min-width: #{(1 * $colWidth / 2) + (1/2 * $gutter) + 1 }px) { @content; };
}
@mixin size-2 {
	@media (min-width: #{(2 * $colWidth / 2) + (2/2 * $gutter) + 1 }px) { @content; };
}
@mixin size-3 {
	@media (min-width: #{(3 * $colWidth / 2) + (3/2 * $gutter) + 1 }px) { @content; };
}
@mixin size-4 {
	@media (min-width: #{(4 * $colWidth / 2) + (4/2 * $gutter) + 1 }px) { @content; };
}
@mixin size-5 {
	@media (min-width: #{(5 * $colWidth / 2) + (5/2 * $gutter) + 1 }px) { @content; };
}
@mixin size-6 {
	@media (min-width: #{(6 * $colWidth / 2) + (6/2 * $gutter) + 1 }px) { @content; };
}
@mixin size-7 {
	@media (min-width: #{(7 * $colWidth / 2) + (7/2 * $gutter) + 1 }px) { @content; };
}
@mixin size-8 {
	@media (min-width: #{(8 * $colWidth / 2) + (8/2 * $gutter) + 1 }px) { @content; };
}
@mixin size-9 {
	@media (min-width: #{(9 * $colWidth / 2) + (9/2 * $gutter) + $navWidth + 4 }px) { @content; };
}
@mixin size-10 {
	@media (min-width: #{(10 * $colWidth / 2) + (10/2 * $gutter) + $navWidth + 4 }px) { @content; };
}
@mixin size-11 {
	@media (min-width: #{(11 * $colWidth / 2) + (11/2 * $gutter) + $navWidth + 4 }px) { @content; };
}
@mixin size-12 {
	@media (min-width: #{(12 * $colWidth / 2) + (12/2 * $gutter) + $navWidth + 4 }px) { @content; };
}




/* 
 * BEHAVIOR
 */

@mixin border-box {
    box-sizing: border-box;
       -moz-box-sizing: border-box;
       -webkit-box-sizing: border-box;
}

@mixin user-select($value) {
	-webkit-user-select: $value;
	-moz-user-select: $value;
	-ms-user-select: $value;
	user-select: $value;
}

@mixin clearfix {
	&::after {
	    content: "";
	    clear: both;
	    display: table;
	}
}

@mixin user-select-none() {
    -webkit-touch-callout: none; /* iOS Safari */
       -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Firefox */
           -ms-user-select: none; /* Internet Explorer/Edge */
               user-select: none; /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}


/*
* FLEXBOX
*/

@mixin flex {
	display: -webkit-box; display: -ms-flexbox; display: flex;
}
@mixin align-items($pos) {
	-webkit-box-align: $pos; -ms-flex-align: $pos; align-items: $pos;
}
@mixin justify-content($pos) {
	-webkit-box-pack: $pos; -ms-flex-pack: $pos; justify-content: $pos;
}


/*
 * FORMS
 */

@mixin resetButton {
	-webkit-appearance: none;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder           { @content }
  &::-moz-placeholder          { @content }
  &:-ms-input-placeholder      { @content }  
}
