/*

PANELS 
including header, navigation, account menu

- General
- Panels (including library page, iframepanel)
- Loginpanel
- Mainpanel
- Dialogs
- Lightbox

*/



/* 
 * GENERAL
 */

html { 
	height: 100%; 
	overflow-y: hidden;
//	overflow-x: hidden;
	width: 100%; 
}
body { 
	height: 100%;  
//	min-width: $siteWidthTablet * 1px;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	
	-ms-overflow-style: -ms-autohiding-scrollbar;
	
	width: 100%;
	
	&.overlay {
		overflow: hidden;
		&:before {
			background: $transBlack;
			bottom: 0;
			content: " ";
			display: block;
			height: 100%;
			left: 0;
			position: fixed;
			top: 0;
			right: 0;
			width: 100%;
			z-index: 300;
		}
	}
	&.login {
		background-color: $shade11;
	}
}

//#overlay {
//	background: $transBlack;
//	bottom: 0;
//	content: " ";
//	display: none;
//	height: 100%;
//	left: 0;
//	position: fixed;
//	top: 0;
//	right: 0;
//	width: 100%;
//	z-index: 300;
//
//	.overlay & {
//		display: block;
//	}
//}

.panel {
	background-color: $white;
	display: none;	
	width: 100%;	
}


/* 
 * SUBPANELS (logged in)
 */

.subpanel {
	margin: 0 0 0 auto;
	margin-right: $navWidth * -1px;
	
//	min-height: 100%;
//	height: 100%;
	//overflow-y: hidden;	//scroll
	//overflow-x: hidden;
	overflow: hidden;
	padding-top: ($headerHeight + $subpanelHeaderHeight) * 1px;
	width: 99.9%; // TODO bug Safari
	position: static;
	
	
	@media #{$mediaQueryDesktop} {
		margin-right: $navWidthExpanded * -1px;
		
		//.collapsedNav & { // Expand
//			margin-right: $navWidthExpanded * -1px!important;
//		}
		//position: relative;
	}
	.hiddenNav & {
		margin-right: 0;
	}
	.expandedNav & {
		margin-right: $navWidthExpanded * -1px;
	}
	//.collapsedNav & {
//		margin-right: $navWidth * -1px;
//	}
	.libraryPage & {
		margin-right: $navWidthLibraryPage * -1px;
		padding-top: ($headerHeight) * 1px;
	}
	
	&.iframepanel {
		//bottom: 0;
		//left: $navWidth * 1px;
		margin: 0;
		//overflow-y: hidden;	
		//padding: 0;
		//position: absolute;
		//right: 0;
		//top: ($headerHeight) * 1px;;
		//width: auto;
		padding-top: ($headerHeight) * 1px;;
		
		@media #{$mediaQueryDesktop} {
			left: $navWidthExpanded * 1px;
		}
		
		.hiddenNav & {
			left: 0;
		}
		
		iframe {						
			margin: 0 0 0 auto;
			//margin-top: ($headerHeight) * 1px;;
			width: 100%;
		}
	}
	
	
	header {
		background-color: $white; 
		border-bottom: 1px $primary solid;
		color: $primary;
		min-height: $subpanelHeaderHeight * 1px;
		left: 0;
		top: $headerHeight * 1px;						
		position: fixed; 
		width: 100%;
		z-index: 600;
		
		.overlay &	{
			border-bottom: 1px $primaryWithOverlay solid;
			&:before {
				background: $transBlack;
				bottom: 0;
				content: " ";
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				z-index: 400;
			}
		}
		
		@media #{$mediaQueryDesktop} {
			margin-right: 0;
			left: $navWidthExpanded * 1px;
			position: fixed; // for IE 11
			right: 0;
			width: auto;
			z-index: 150;
		}
		
		.libraryPage & { 
			display: none; // TODO: remove; demo purpose only
		}
		
		.container {
			//max-width: ($siteWidthTablet - $navWidth) * 1px;
			width: 100%;
			
			@media #{$mediaQueryDesktop} {
				max-width: ($siteWidthDesktop - $navWidthExpanded) * 1px;
			}
			
			
		}
		
		#accountMenuToggle, .pageIcon {
			border-radius: 2px;
			display: block;			
			height: 26px; //TODO var
			left: $siteMargin * 1px;
			margin-top: $gutter * 1px;
			position: fixed;			
			
			width: 26px; //TODO var
			
			use { fill: $primary; }
			
			@media #{$mediaQueryDesktop} {
				display: none;
			}
		}
		
		div.content {
			bottom: 0;
			margin-left: ($navWidth + $gutter) * 1px;	
			position: absolute;
			width: 100%;			
			//position: absolute;	
			
			
			
			@media #{$mediaQueryDesktop} {
				//	width: ($siteWidth - $gutter) / $siteWidth * 100%;
				//padding: 0 ($gutter / 2) / $siteWidth * 100%;
				
				margin-left: ($gutter) * 1px;			
			}
		}
		
		section#help { 
			//background-color: $shade11;
			//bottom: -1px;
			height: 75%;
			margin-top: -18px;
			padding-top: 0;		
			//padding-left: 0;	
			position: fixed;
			right: $siteMargin * 1px;
			top: ($headerHeight + $subpanelHeaderHeight) * 1px;
			//width: $colWidth * 1px;			
			z-index: 500;
			
			h2.helpheader {
				border-bottom: 1px $primary solid;
				border-left: 1px $shade11 solid;
				cursor: pointer;
				margin-left: ($gutter + 1) * -1px;						
				z-index: 400;
			}	
			
			.content {
				background-color: $shade11;
//				border-left: 1px $shade11 solid;
				bottom: 25%;
				@include box-shadow(3px,3px,10px,0px,$shadow);
				display: block;				
				left: 100%;
				margin-left: 0;
				padding: 2em $gutter * 1px;
//				position: absolute;
				right: 2 * $siteMargin * 1px;
//				top: ($headerHeight + $subpanelHeaderHeight + 1) * 1px;
				top: 19px;
				visibility: hidden;
				//display: none;
				width: (3 * $colWidth / 2 + $gutter * 0.5 - $gutter) * 1px;
				z-index: 500;
				
				
			
				iframe {
					height: 100%;
					width: 100%;
				}
				
				.closeButton {
					cursor: pointer;
					height: 32px;
					position: absolute;
					right: 5px;
					bottom: 7px;
					width: 32px;
					z-index: 400;
			
					.icon {
						display: block;
						float: left;
				
						border-radius: 2px;
						float: left;
						height: 26px; //TODO var
						margin-right: 0.5em;
						width: 26px; //TODO var
				
						use { fill: $shade23; }
					}
				}				
			}
			
			@media #{$mediaQueryDesktop} {	
				.content {				
//					background-color: $shade11;
					border-left: 1px $shade11 solid;
					@include box-shadow(0px,0px,0px,0px,$shadow);
//					bottom: 40;
					display: block;				
//					padding: 2em $gutter * 1px;
//					position: fixed;
//					right: $siteMargin * 1px;
					right: 0;
//					top: ($headerHeight + $subpanelHeaderHeight + 1) * 1px;
					visibility: hidden;
					//display: none;
					left: 100%;
				
					iframe {
						width: 100%;
						height: 100%;
					}
					
					.closeButton {
						display: none;
					}
				
				
					@media #{$mediaQueryDesktopWide} {
						bottom: auto;
						min-height: 50%;
					}				
				}
				&.col-2 .content { width: (2 * $colWidth / 2 - $gutter) * 1px; }		
				&.col-3 .content { width: (3 * $colWidth / 2 + $gutter * 0.5 - $gutter) * 1px; }		
				&.col-4 .content { width: (4 * $colWidth / 2 + $gutter * 1.0 - $gutter) * 1px; }		
				&.col-5 .content { width: (5 * $colWidth / 2 + $gutter * 1.5 - $gutter) * 1px; }		
				&.col-6 .content { width: (6 * $colWidth / 2 + $gutter * 2.0 - $gutter) * 1px; }		
				&.col-7 .content { width: (7 * $colWidth / 2 + $gutter * 2.5 - $gutter) * 1px; }		
				&.col-8 .content { width: (8 * $colWidth / 2 + $gutter * 3.0 - $gutter) * 1px; }		
				&.col-9 .content { width: (9 * $colWidth / 2 + $gutter * 3.5 - $gutter) * 1px; }		
				&.col-10 .content { width: (10 * $colWidth / 2 + $gutter * 4.0 - $gutter) * 1px; }		
				&.col-11 .content { width: (11 * $colWidth / 2 + $gutter * 4.5 - $gutter) * 1px; }		
				&.col-12 .content { width: (12 * $colWidth / 2 + $gutter * 5.0 - $gutter) * 1px; }	
				
				&.active {	
					right: 0;
				}
			}
			
			&.active {	
				h2.helpheader {
					background-color: $primary;
					border-left-color: $primary;
					color: $white;
					
					@media #{$mediaQueryDesktop} {
						background-color: $shade12;
						border-left-color: $primary;
						right: 0;
					}	
				}
				.content {
					visibility: visible;
					left: auto;
					
					@media #{$mediaQueryDesktop} {
						border-left-color: $primary;
						right: 0;
					}
				}				
			}
		}	
	}
	
	section {
		max-width: ($siteWidthTablet - $navWidth - $siteMargin) * 1px;
		padding-top: $panelSectionPaddingTop;
		.libraryPage & {
			padding-top: $gutter * 1px;
		}
		position: relative;
				
		@media #{$mediaQueryDesktop} {
			max-width: 6 * ($colWidth + $gutter) * 1px;
		}
		
		&.wide {
			max-width: none;
			
			@media #{$mediaQueryDesktop} {
				max-width: none;
			}
		}		
		
		&:after {
		    clear: both;
			content: "";		    
		    display: table;
		}
	}
	
	
}



/*
 * LOGIN PANEL  
 */

#loginDisplayPanel {
	@include align-items(center);
	background-color: $shade122;
	@include flex;	
	@include justify-content(center);	
	min-height: 100%;
	
	.container {
		background: transparent url(../images/login-containerBackground.jpg) no-repeat top left; // TODO: replace by def image
		background-size: contain;
		max-width: 100%;		
		position: relative;
		width: 580px;		
	}
	
	#loginDisplayPanelMessageBox {
		display: none;
		left: 0;
		position: absolute;
		top: 175px;
		width: 240 / 580 * 100%;
		
		.block.primary {
			background-color: $primaryDark;
			@include border-radius($defaultRadius);
			color: $white;
			padding: $gutter * 1px;
		}
	}
	
	#loginBox {
		color: $primaryLight;
		left: 270 / 580 * 100%;
		margin-top: 175px;
		position: relative;
		width: 310 / 580 * 100%;
		
		.block.primary {
			background-color: $primaryDark;
			@include border-radius($defaultRadius);
			padding: $gutter * 1px;
		}
		
		form {
			display: block;
			width: 100%;
			
			&:after {
			    content: "";
			    clear: both;
				display: block;
				width: 100%;
			}
			
			input[type="text"], input[type="password"] {
				background: $primary;
				color: $white;				
								
				@include placeholder {
					color: $white;
				}
			}
			input[type="submit"] {
				margin-top: $gutter * 1px;
				margin-bottom: $rowMarginBottom;
			}
		}
		
		p {
			font-size: 14 / 16 * 1em;
			line-height: 1.3em;
			margin: 8px 0;
		}

		ul {
			font-size: 14 / 16 * 1em;
			line-height: 1.8em;
			margin-top: 16px;
		}
		
		a {
			color: $white;
			text-decoration: none;
		}
		
		#loginDisplayPanelWarningBox {
			background-color: $black;
			@include border-box();
			@include border-radius($defaultRadius);
			color: $white;
			display:none;
			float: left;
			padding: $gutter * 1px;
			width: 100%;
		}
	}
}




/*
 * MAIN PANEL
 */

#mainPanel {
	background-color: $shade20;
//	height: 100%;
	min-height: 100%;
//	overflow: hidden;
	position: relative;
	width: 100%;
//	min-width: $siteWidthTablet * 1px;
	
	> header {
		background-color: $primaryDark;		
		@include box-shadow(0px,3px,10px,0px,$shadow);
		height: $headerHeight * 1px;
		left: 0;
		padding: 0;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 401;
		
		.helpOpen & {
			z-index: 200;
		}
		
		#logo {
			display: block;
			float: left;
			padding: $gutter / 2 * 1px $siteMargin * 1px;
		}
		#accountMenuToggle {
			float: right;
			margin-right: $siteMargin * 1px;
			margin-top: 11px;

			.icon {
				display: block;
				float: left;
				
				border-radius: 2px;
				float: left;
				height: 26px; //TODO var
				margin-right: 0;
				width: 26px; //TODO var
				
				use { fill: $shade22; }
			}
			
		}
		#accountMenuBox {
			background-color: $primary;
			border: 1px $black solid;
			color: $white;
			display: none;
			min-width: $siteWidth / 12 * 2 * 1px; // TODO make flexible
			padding: 10px;
			position: absolute;
			right: $siteMargin * 1px;
			text-align: right;
			top: $headerHeight - 11 * 1px;
			
			a {
				clear: both;
				color: $white;
				display: block;
				float: right;
				line-height: 2em;
				text-decoration: none;
				text-transform: uppercase;				
				&:first-of-type { margin-top: 1em; }
			}

			@include box-shadow(0px,0px,10px,0px,$shadow);
			
			#accountMenuPresentationName, #accountMenuSchoolName, #accountMenuUserRole {
				color: $shade22;
				display: inline;
				padding: 0;
			}
			#accountMenuPresentationName {
				&:before {
					content: " ";
				}
			}
			#accountMenuSchoolName {
				clear: both;
				display: block;
				float: right;
				text-align: right;
				width: 100%;				
			}
		}
	}
	
	nav {
		
		bottom: 0;
		color: $shade22;
		//height: 100%;
		left: 0;
		position: fixed;
		top: ($headerHeight + $subpanelHeaderHeight) * 1px;
		width: $navWidth * 1px;
		z-index: 100;
		
		@media #{$mediaQueryDesktop} {
			background-color: $shade21;
			@include box-shadow(3px,0px,10px,0px,$shadow);
			top: ($headerHeight) * 1px;
			width: $navWidthExpanded * 1px;
			z-index: 200;
			
			//.collapsedNav & {
//				width: $navWidthExpanded * 1px;
//			}
		}
		
		
		
		.libraryPage & {
			@include box-shadow(3px,0px,10px,0px,$shadow);
			top: ($headerHeight) * 1px;
			width: $navWidthLibraryPage * 1px;
			z-index: 200;
			
			.libraryPageIcon {
				display: block;			
				border-radius: 2px;
				height: 26px; //TODO var
	  		    margin-left: $siteMargin * 1px;
				margin-right: 0.5em;
				margin-top: $gutter/2 * 1px;
				margin-bottom: $gutter * 1px;
				width: 26px; //TODO var
			
				use { fill: $shade22; }
			}
			
			h2 { 
				width: 100%; 
				text-indent: $siteMargin * 1px;
			}			
		}
		
		ul {
			margin-top: $gutter * 1px;
			margin-left: $siteMargin * 1px;
			
			@media #{$mediaQueryDesktop} {
				margin-top: ($gutter + $subpanelHeaderHeight) * 1px;
			}
			
			.libraryPage & {
				margin-top: 0;
			}
						
			&#mainNav {
				.libraryPage & {
					bottom: $gutter * 1px;
					position: absolute;
				}
			}
			
			li {
				//line-height: 2em;
				margin: $gutter * 1px 0 0 0;
				
				a {
					color: $shade22;
					text-decoration: none;
					
					&:after {
					    content: "";
					    clear: both;
						display: block;
						width: 100%;	
					}
					
					&:hover {
						color: $primary;
						text-decoration: none;
						
						.icon {
							use { fill: $primary; }
						}
						
					}
					
					@media #{$mediaQueryDesktop} {
						&.active {
							color: $primary;
							.icon {
								use { fill: $primary; }
							}
						}
					}
					
					.name {
						display: none;
						line-height: 26px; // TODO var
						
						@media #{$mediaQueryDesktop} {
							display: block;
						}
						
						.libraryPage & {
							display: none;
						}
					}
					
					.icon {
						display: block;
						
						border-radius: 2px;
						float: left;
						height: 26px; //TODO var
						margin-right: 0.5em;
						width: 26px; //TODO var
						
						use { fill: $shade22; }
					}
				}
			}
			
			&#libraryPageNav {
				margin-left: 0;
				font-size: 14 / 16 * 1em;
				
				li {
					line-height: 2em;
					margin: 0;
					
					a {
						border-bottom: 1px $shade22 solid;
						display: block;
						padding-left: $siteMargin * 1px;
					}
					&.active a {
						background-color: $shade22;
						color: $white;
					}
					span {
						display: block;
						line-height: 1.3em;
						padding-left: $siteMargin * 1px;
						padding-top: 5px;
					}
				}
			}
		}
	}	
	
	&.expandedNav {
		nav {
			background-color: $shade21;
			@include box-shadow(3px,0px,10px,0px,$shadow);
			top: ($headerHeight) * 1px;
			width: $navWidthExpanded * 1px;			
			z-index: 200;
			
			ul {
				margin-top: ($gutter + $subpanelHeaderHeight) * 1px;
			
				li a .name {
					display: block;
				}
			}
		}
	}	
	&.hiddenNav {
		nav {
			display: none;
		}
	}
}

//svg path { fill: inherit; }


/*
 * DIALOGS
 */

section.dialog {
	background: $shade11;
	display: none;
	height: $dialogHeight * 1px;	
	left: 50%;
	margin-left: 3 * ($colWidth + $gutter) * -.5px;
	margin-top: $dialogHeight / 2 * -1px;
	padding: 0 $gutter * 1px;
	position: fixed;
	top: 50%;
	width: 3 * ($colWidth + $gutter) * 1px;
	z-index: 9999;
	@include box-shadow(3px,3px,10px,0px,$shadow);
	
	header {
		left: 0;
		margin-top: -1em;
		position: absolute;
		top: 0;
	}
	section {
		height: 125px;		
		margin-top: 15px;
		position: relative;
	}
	#progressBar {
		background-color: $shade22;
		font-size: 0;
		height: 3px;
		position: relative;
		width: 100%;
		
		.bar {
			background-color: $primary;
			bottom: 0;
			height: 6px;
			position: absolute;
			width: 0px;
		}
	}
}

/*
 * LIGHTBOX
 */

section.lightbox {
	background-color: $white;
	border: $borderThickness $primaryLight solid;
	@include border-radius($defaultRadius);
	@include box-shadow(3px,3px,10px,0px,$shadow);
	display: none;
	height: 90%;
	left: 50%;	
	margin-left: -45%;
	margin-top: -45vh;
	position: fixed;
	top: 50%;
	width: 90%;
	z-index: 9999;
	
	header {
		
		border: $borderThickness $shade21 solid;
		@include border-radius($defaultRadius);
		bottom: $elementMarginBottom;
		height: 20px;
		left: $gutter * 1px;
		padding: $elementMarginBottom $gutter/2 * 1px;
		position: absolute;
		right: $gutter * 1px;
		top: $elementMarginBottom;
		
		.closeButton {
//			background: #ff0000;
			cursor: pointer;
			height: 32px;
			position: absolute;
			right: 5px;
			top: 7px;
			width: 32px;
			
			.icon {
				display: block;
				float: left;
				
				border-radius: 2px;
				float: left;
				height: 26px; //TODO var
				margin-right: 0.5em;
				width: 26px; //TODO var
				
				use { fill: $shade21; }
			}
		}
	}
	section {
		position: absolute;
		top: (30 + 2 * $gutter) * 1px;
		bottom: 75 + 30 + $borderThickness;
		width: 100%;
		
		iframe {
			height: 100%;
			width: 100%;			
		}
	}
	footer {
		border-top: $borderThickness $shade21 solid;
		bottom: 0;
		height: 75px;
		padding-top: $elementMarginBottom;
		position: absolute;
		width: 100%;		
		
		.row {
			position: relative;
			width: 100%;
		}
		
		.icons {
			position: absolute;
			right: $gutter * 1px;
			bottom: 0;
			.icon {
				
				height: 32px;
				margin-left: $gutter * 1px;
				width: 32px;
	
				use { fill: $primary; }
			}
		}
		
		
		
	}
}

/*
 * WELCOME PANEL 
 */

#welcomeDisplayPanel {
	background: $shade10 url(../images/bg-numworx-logo.png) no-repeat bottom right;
	background-size: contain;
	
	a {
		color: $primary;
		font-weight: bold;
	}
}

#personsDisplay {
	.icon.editOptions {
		height: 24px;
		margin-left: $gutter * 1px;
		width: 24px;

		use { fill: $shade22; }
	}
	.icon.editOptions.active {
		use { fill: $primary; }
	}
}

#selectedResultsDisplay {
	.icon.btn {
		height: 32px;
		margin-left: $gutter * 1px;
		width: 32px;

		use { fill: $primary; }
	}
}


.c-scrim {
	z-index: 999;
}
.c-datepicker {
	z-index: 9999;
	
	.c-datepicker__header-day, .c-datepicker__header-date {
		background-color: $primary;
	}
	.c-datepicker__back, .c-datepicker__next {
		background-color: $shade22;
		
		&:hover {
			background-color: $primary;
		}
	}
}


.filterIndicators {
	border-bottom: $borderThickness $primary solid;
	display: inline-block;
	padding-bottom: $borderThickness;
	
	a {		
		background-color: $primaryLight;
		border: $borderThickness $shade21 solid;
		@include border-radius($defaultRadius);
		color: $black;
		display: inline-block;
		font-size: 12 / 17 * 1em;
		padding: 3px 9px;
		
	}
	&.result1 a { background-color: $scoreIndicator1; }
	&.result2 a { background-color: $scoreIndicator2; }
	&.result3 a { background-color: $scoreIndicator3; }
	&.result4 a { background-color: $scoreIndicator4; }
}





