/*

PANELS 
including header, navigation, account menu

- General
- Panels (including library page, iframepanel)
- Loginpanel
- Mainpanel
- Dialogs
- Lightbox

*/



/* 
 * GENERAL
 */

html { 
	height: 100%; 
	overflow-y: hidden;
	overflow-x: hidden;
	width: 100%; 
}
body { 
	background-color: $shade10;
	height: 100%;  
//	min-width: $siteWidthTablet * 1px;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	
	-ms-overflow-style: -ms-autohiding-scrollbar;
	
	width: 100%;
	
	&.overlay {
		overflow: hidden;
		&:before {
			background: $transBlack;
			bottom: 0;
			content: " ";
			display: block;
			height: 100%;
			left: 0;
			position: fixed;
			top: 0;
			right: 0;
			width: 100%;
			z-index: 300;
		}
	}
	&.login {
		background-color: $shade11;
	}
}

.panel {
	background-color: $white;
	display: none;	
	width: 100%;	
}


/* 
 * SUBPANELS (logged in)
 */
 .chatpanel { // looks like .subpanel
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0px 0px 0px 0px;
	//margin-right: $navWidth * -1px;
	overflow: hidden;
	padding-top: 0px;
	width: 99.9%; // TODO bug Safari
	min-height: calc(100vh - 138px); // die 154 is experimenteel bepaald
	//width: 100%;
	position: static;

	&.iframepanel {
		padding-top: 0px;
		
		iframe {	
			margin: 0 0 0 auto;
			height: 100%;
			width: 100%;
			
			@include size-md {
				height: 100%;
				width: 100%;
				transform: scale(1);
			}
		}
	}	
 
 }
 
 

.subpanel {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0px 0px 0px 0px;
	//margin-right: $navWidth * -1px;
	overflow: hidden;
	padding-top: ($headerHeight + $subpanelHeaderHeight) * 1px;
	width: 99.9%; // TODO bug Safari
	min-height: calc(100vh - #{$headerHeight + $subpanelHeaderHeight}px);
	//width: 100%;
	position: static;

	.ANONYMOUS & {
		margin-left: 0;
		width: 100%;
	}

	@include size-md {
		margin-left: ($navWidth) * 1px;
		//width: calc( 100% - #{ $navWidth + $gutter }px);
		width: calc( 100% - #{ $navWidth }px);
	}
		
	@include size-xl {
		body:not(.collapsed) & {
		margin-left: $navWidthExpanded * 1px;
		//width: calc( 100% - #{ $navWidthExpanded + $gutter }px);
		width: calc( 100% - #{ $navWidthExpanded }px);
		}
	}
	.hiddenNav & {
		margin-right: 0;
	}
	@include size-md {
		.expandedNav & {
			margin-left: $navWidthExpanded * 1px;
			//width: calc( 100% - #{ $navWidthExpanded + $gutter }px);
			width: calc( 100% - #{ $navWidthExpanded }px);
		}
	}	
	.libraryPage & {
		margin-right: $navWidthLibraryPage * -1px;
		padding-top: ($headerHeight) * 1px;
	}
	
	&.iframepanel {
		padding-top: ($headerHeight) * 1px;;
		
		@media size-xl {
			left: $navWidthExpanded * 1px;
		}
		
		.hiddenNav & {
			left: 0;
		}
		
		iframe {	
			//height: 250%;					
			margin: 0 0 0 auto;
			//width: 250%;
			//transform: scale(0.4);
			//transform-origin: top left;
			height: 100%;
			width: 100%;


			@include size-md {
				height: 100%;
				width: 100%;
				transform: scale(1);
			}
		}
	}	
	
	header {
		background-color: $white; 
		border-bottom: 1px $primary solid;
		color: $primary;
		flex-grow: 0;
		min-height: $subpanelHeaderHeight * 1px;
		left: 0;
		top: $headerHeight * 1px;						
		position: fixed; 
		width: 100%;
		z-index: 600;
		
		.overlay &	{
			border-bottom: 1px $primaryWithOverlay solid;
			&:before {
				background: $transBlack;
				bottom: 0;
				content: " ";
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				z-index: 400;
			}
		}

		@include size-md {
			left: $navWidth * 1px;
		}
		
		@include size-xl {
			body:not(.collapsed) & {
			margin-right: 0;
			left: $navWidthExpanded * 1px;
			position: fixed; // for IE 11
			right: 0;
			width: auto;
			z-index: 150;
		}}
		
		.libraryPage & { 
			display: none; // TODO: remove; demo purpose only
		}
		
		.container {
			width: 100%;
			
			//@media #{$mediaQueryDesktop} {
			//	max-width: ($siteWidthDesktop - $navWidthExpanded) * 1px;
			//}
		}
		
		#accountMenuToggle, .pageIcon {
			border-radius: 2px;
			display: block;			
			height: 26px; //TODO var
			left: $siteMargin * 1px;
			margin-top: $gutter * 1px;
			position: fixed;			
			
			width: 26px; //TODO var
			
			use { fill: $primary; }
			
			@media #{$mediaQueryDesktop} {
				display: none;
			}
		}
		
		
		div.content {
			bottom: 0;
			margin-left: $gutter/2 * 1px;	
			position: absolute;
			width: calc(100% - #{$gutter}px);
			
			@include size-md {
				//margin-left: ($navWidth + $gutter) * 1px;	
				//margin-left: ($navWidth) * 1px;	
				margin-left: $gutter * 1px;
			}			
			@include size-lg {
				//margin-left: ($navWidth + $gutter) * 1px;			
			}
			@include size-xl {
				margin-left: $gutter * 1px;
			}
		}
		
		section#help { 
			padding-top: 0;		
			bottom: 0;
			//margin: 0;
			margin-bottom: 0!important;
			padding-bottom: 0;
			position: fixed;
			right: 0;			
			z-index: 500;		

			@include size-md {	
				bottom: auto;	
				//margin-top: -18px;		
				margin-top: 1px;
				right: $siteMargin * 1px;
				top: ($headerHeight + $subpanelHeaderHeight) * 1px;
				width: auto;
			}
			@include size-xl {
				margin-top: -18px;
				width: 100%;
			}
			
			&.active {
				margin-top: -18px;		
				position: fixed;
				height: 75%;			
				top: ($headerHeight + $subpanelHeaderHeight) * 1px;
			}
			
			h2.helpheader {
				border-bottom: 1px $primary solid;
				border-left: 1px $shade11 solid;
				bottom: 0;
				cursor: pointer;
				//float: right;
				//margin-left: ($gutter + 1) * -1px;		
				position: absolute;
				right: 0;
				width: ($colWidth - $gutter) * 1px;				
				z-index: 400;
				
				@include size-xl {
					bottom: auto;
					float: none;
					//margin-left: ($gutter + 1) * -1px;	
					position: relative;	
					width: auto;
				}
			}
			&.active h2.helpheader {
				display: none;
			}
			@include size-md {
				&.active h2.helpheader {
					bottom: auto;
					display: block;
				}
			}
			
			.content {
				background-color: $shade11;
				bottom: 25%;
				@include border-box;
				@include box-shadow(3px,3px,10px,0px,$shadow);
				display: block;				
				left: 36px;
				margin-left: 0;
				padding: 2em $gutter * 1px;
				right: 36px;
				top: 19px;
				visibility: hidden;
				width: auto;
				z-index: 500;

				@include size-md {
					left: 100%;
					right: 36px;
					width: (3 * $colWidth / 2 + $gutter * 0.5 - $gutter) * 1px;
				}
			
				iframe {
					height: 100%;
					width: 100%;
				}
				
				.closeButton {
					cursor: pointer;
					height: 32px;
					position: absolute;
					right: 5px;
					bottom: 7px;
					width: 32px;
					z-index: 400;
			
					.icon {
						display: block;
						float: left;
				
						border-radius: 2px;
						float: left;
						height: 26px; //TODO var
						margin-right: 0.5em;
						width: 26px; //TODO var
				
						use { fill: $shade23; }
					}
				}				
			}
			
			@include size-xl {	
				.content {				
					border-left: 1px $shade11 solid;
					@include box-shadow(0px,0px,0px,0px,$shadow);
					display: block;				
					left: 100%;
					right: 0;
					visibility: hidden;
					width: 100%;
					
					iframe {
						width: 100%;
						height: 100%;
					}
					
					.closeButton {
						display: none;
					}				
				
					@media #{$mediaQueryDesktopWide} {
						bottom: auto;
						min-height: 50%;
					}				
				}

				&.col-2, &.col-2 .content { max-width: (2 * $colWidth / 2 + $gutter * 0 + $gutter * 2) * 1px; }
				&.col-3, &.col-3 .content  { max-width: (3 * $colWidth / 2 + $gutter * 0.5 + $gutter * 2) * 1px; }
				&.col-4, &.col-4 .content  { max-width: (4 * $colWidth / 2 + $gutter * 1 + $gutter * 2) * 1px; }
				&.col-5, &.col-5 .content  { max-width: (5 * $colWidth / 2 + $gutter * 1.5 + $gutter * 2) * 1px; }
				&.col-6, &.col-6 .content  { max-width: (6 * $colWidth / 2 + $gutter * 2 + $gutter * 2) * 1px; }
				&.col-7, &.col-7 .content  { max-width: (7 * $colWidth / 2 + $gutter * 2.5 + $gutter * 2) * 1px; }
				&.col-8, &.col-8 .content  { max-width: (8 * $colWidth / 2 + $gutter * 3 + $gutter * 2) * 1px; }
				&.col-9, &.col-9 .content  { max-width: (9 * $colWidth / 2 + $gutter * 3.5 + $gutter * 2) * 1px; }
				&.col-10, &.col-10 .content  { max-width: (10 * $colWidth / 2 + $gutter * 4 + $gutter * 2) * 1px; }
				&.col-11, &.col-11 .content  { max-width: (11 * $colWidth / 2 + $gutter * 4.5 + $gutter * 2) * 1px; }
				&.col-12, &.col-12 .content  { max-width: (12 * $colWidth / 2 + $gutter * 5 + $gutter * 2) * 1px; }

				/*&.col-2  { width: (2 * $colWidth / 2 - $gutter) * 1px; }		
				&.col-3  { width: (3 * $colWidth / 2 + $gutter * 0.5 - $gutter) * 1px; }		
				&.col-4  { width: (4 * $colWidth / 2 + $gutter * 1.0 - $gutter) * 1px; }		
				&.col-5  { width: (5 * $colWidth / 2 + $gutter * 1.5 - $gutter) * 1px; }		
				&.col-6  { width: (6 * $colWidth / 2 + $gutter * 2.0 - $gutter) * 1px; }		
				&.col-7  { width: (7 * $colWidth / 2 + $gutter * 2.5 - $gutter) * 1px; }		
				&.col-8  { width: (8 * $colWidth / 2 + $gutter * 3.0 - $gutter) * 1px; }		
				&.col-9  { width: (9 * $colWidth / 2 + $gutter * 3.5 - $gutter) * 1px; }		
				&.col-10  { width: (10 * $colWidth / 2 + $gutter * 4.0 - $gutter) * 1px; }		
				&.col-11  { width: (11 * $colWidth / 2 + $gutter * 4.5 - $gutter) * 1px; }		
				&.col-12  { width: (12 * $colWidth / 2 + $gutter * 5.0 - $gutter) * 1px; }	
				
				&.col-2 .content { width: (2 * $colWidth / 2 - $gutter) * 1px; }		
				&.col-3 .content { width: (3 * $colWidth / 2 + $gutter * 0.5 - $gutter) * 1px; }		
				&.col-4 .content { width: (4 * $colWidth / 2 + $gutter * 1.0 - $gutter) * 1px; }		
				&.col-5 .content { width: (5 * $colWidth / 2 + $gutter * 1.5 - $gutter) * 1px; }		
				&.col-6 .content { width: (6 * $colWidth / 2 + $gutter * 2.0 - $gutter) * 1px; }		
				&.col-7 .content { width: (7 * $colWidth / 2 + $gutter * 2.5 - $gutter) * 1px; }		
				&.col-8 .content { width: (8 * $colWidth / 2 + $gutter * 3.0 - $gutter) * 1px; }		
				&.col-9 .content { width: (9 * $colWidth / 2 + $gutter * 3.5 - $gutter) * 1px; }		
				&.col-10 .content { width: (10 * $colWidth / 2 + $gutter * 4.0 - $gutter) * 1px; }		
				&.col-11 .content { width: (11 * $colWidth / 2 + $gutter * 4.5 - $gutter) * 1px; }		
				&.col-12 .content { width: (12 * $colWidth / 2 + $gutter * 5.0 - $gutter) * 1px; }	*/
				
				&.active {	
					right: 0;
				}
			}
			
			&.active {	
				h2.helpheader {
					background-color: $primary;
					border-left-color: $primary;
					color: $white;
					
					@include size-lg {
						background-color: $shade12;
						border-left-color: $primary;
						right: 0;
					}	
				}
				.content {
					visibility: visible;
					//left: auto;
					height: inherit;

					@include size-md {
						left: auto;
					}
					
					@include size-xl {
						border-left-color: $primary;
						right: 0;
					}
				}				
			}
		}	
	}
	
	section {
		display: flex;
		flex-direction: column;
		
		max-width: ($siteWidthTablet - $navWidth - $siteMargin) * 1px;
		&:first-of-type {
			padding-top: $panelSectionPaddingTop;
		}
		.libraryPage & {
			padding-top: $gutter * 1px;
		}
		position: relative;
		width: 100%;

		&.grow {
			flex-grow: 1;
		}

		@include size-md {
			//width: calc( 100% - #{$navWidth}px );
			margin-left: $gutter * 1px;
		}
				
		@include size-lg {
			max-width: 6 * ($colWidth + $gutter) * 1px;
		}
		
		&.wide {
			max-width: none;
			
			@media #{$mediaQueryDesktop} {
				max-width: none;
			}
		}		
		
		&:after {
		    clear: both;
			content: "";		    
		    display: table;
		}
		
		&:last-of-type {
			padding-bottom: 2 * $rowMarginBottom; // was margin
		}
	}
	
	
}



/*
 * LOGIN PANEL  
 */

#loginDisplayPanel {
	@include align-items(center);
	@include flex;	
	@include justify-content(center);	
	min-height: 100%;
	
	.container {
		background: transparent;
		background-size: contain;
		max-width: 100%;		
		position: relative;
		width: 580px;	
	}	
	
	#loginDisplayPanelMessageBox {
		display: none;
		width: 100%;

		@include size-md {
			left: 0;
			position: absolute;
			top: 175px;
			width: 240 / 580 * 100%;	
		}
		
		.block.primary {
			background-color: $primaryDark;
			@include border-radius($defaultRadius);
			color: $white;
			padding: $gutter * 1px;
		}
	}
	
	#loginBox {
		@include border-box;
		color: $primaryLight;
		padding: 0 $gutter * 1px;
		position: relative;
		width: 100%;

		@include size-md {
			left: 270 / 580 * 100%;
			margin-top: 175px;
			width: 310 / 580 * 100%;
		}
		
		.block.primary {
			@include border-radius($defaultRadius);
			padding: $gutter * 1px;
		}
		
		form {
			display: block;
			width: 100%;
			
			&:after {
			    content: "";
			    clear: both;
				display: block;
				width: 100%;
			}
			
			input[type="text"], input[type="password"] {
				font-size: 1.5em;				
			}
			input[type="submit"] {
				margin-top: $gutter * 1px;
				margin-bottom: $rowMarginBottom;
				letter-spacing: 2px;
			}
		}
		
		p {
			font-size: 14 / 16 * 1em;
			line-height: 1.3em;
			margin: 8px 0;
		}

		ul {
			font-size: 14 / 16 * 1em;
			line-height: 1.8em;
			margin-top: 16px;
		}
		
		a {
			text-decoration: none;
		}
		
		#loginDisplayPanelWarningBox {
			background-color: $black;
			@include border-box();
			@include border-radius($defaultRadius);
			color: $white;
			display:none;
			float: left;
			padding: $gutter * 1px;
			width: 100%;
		}
	}
}




/*
 * MAIN PANEL
 */

#mainPanel {
	background-color: $shade20; //$shade20;
	display: none;
	min-height: 100%;
	position: relative;
	width: 100%;

	&.active {
		display: flex;
	}
	
	> header {
		background-color: $primaryDark;		
		@include box-shadow(0px,3px,10px,0px,$shadow);
		height: $headerHeight * 1px;
		left: 0;
		padding: 0;
		position: fixed;
		right: 0;
		text-align: right;
		top: 0;
		width: 100%;
		z-index: 700;

		
		.helpOpen & {
			z-index: 200;
		}
		
		#logo {
			//display: block;
			//float: left;
			display: inline-block;
			left: 0;
			padding: $gutter / 2 * 1px $siteMargin * 1px;
			position: absolute;
		}
		#mainrole {
			display: none;
		    font-size: 22px;
		    font-family: Ubuntu;
		    text-transform: uppercase;
		    vertical-align: super;
		    padding-left: 10px;
		    color: $primaryLight;

			@include size-md {
				display: inline-block;
			}
		}

		#headertrails { 
			color: $primaryLight; 
			display: none;
			font-size: 13px;
				font-family: Ubuntu;
			font-weight: bold; 
			line-height: $headerHeight * 1px;
			height: $headerHeight * 1px;
			margin-left: 158px;
			margin-right: $siteMargin * 1px;
			vertical-align: top;
			white-space: nowrap;
			@include size-lg {
				display: inline-block;
			}
		}
		#headertrails a { 
			color: $primaryLight; 
		}

		#menuToggle {			
			/*position: absolute;
			right: 0;
			top: 0;*/
			display: inline-block;
			margin-right: $siteMargin * 1px;
			height: $headerHeight * 1px;
			vertical-align: middle;


			@include size-md {
				display: none;
			}

			.icon {
				display: block;
				border-radius: 2px;
				height: 26px; //TODO var
				margin-right: 0;
				margin-top: 12px;
				width: 26px; //TODO var

				use { fill: $shade22; }
			}			
		}

		.profile-headerIcon {
			color: $shade22;
			display: inline-block;
			height: $headerHeight * 1px;
			/*position: absolute;*/
			top: 0;
			margin-right: $siteMargin * 1px;
			vertical-align: middle;
			.fa {
				margin-top: 9px;	
			}
		}
		

		#headerPresentationName {
			display: none;
			.ANONYMOUS & {
				display: none!important;
			}
			@include size-md {
				color: #7297c7;
				display: inline-block;
				font-size: 13px;
				font-family: Ubuntu;
				font-weight: bold;
				margin-right: $gutter * 1px;
				margin-top: 18px;
				/*position: absolute;*/
				right: 60px;
				top: 0;
			}
		}		
		#accountMenuToggle {
			/*float: right;*/
			/*position: absolute;
			right: 40px;
			top: 0;*/
			display: inline-block;
			margin-right: $siteMargin * 1px;
			//margin-top: 12px;
			height: $headerHeight * 1px;
			vertical-align: middle;

			@include size-md {
				right: 0;
			}

			.icon {
				display: block;
				//float: left;
				
				border-radius: 2px;
				//float: left;
				height: 26px; //TODO var
				margin-right: 0;
				margin-top: 12px;
				width: 26px; //TODO var
			}
			
		}
		#accountMenuBox {
			background-color: $primary;
			border-bottom: 1px $black solid;
			box-shadow: inset 0 10px 12px -10px $shadow;
			@include border-box;
			color: $white;
			display: none;
			left: 0;
			padding: 10px;
			position: absolute;
			right: 0;
			text-align: right;
			top: $headerHeight * 1px;
			width: 100%;

			@include size-md {
				border: 1px $black solid;
				@include box-shadow(0px,0px,10px,0px,$shadow);
				left: auto;
				min-width: $siteWidth / 12 * 2 * 1px; // TODO make flexible
				right: $siteMargin * 1px;
				top: $headerHeight - 11 * 1px;
				width: auto;
			}
			
			a {
				clear: both;
				color: $white;
				display: block;
				float: right;
				line-height: 2em;
				text-decoration: none;
				text-transform: uppercase;				
				&:first-of-type { margin-top: 1em; }
			}

			
			
			#accountMenuPresentationName, #accountMenuSchoolName, #accountMenuUserRole {
				color: $shade22;
				display: inline;
				padding: 0;
			}
			#accountMenuPresentationName {
				&:before {
					content: " ";
				}
			}
			#accountMenuSchoolName {
				clear: both;
				display: block;
				float: right;
				text-align: right;
				width: 100%;				
			}
		}
	}
	
	nav {	
		background-color: $shade21; //20	
		bottom: 0;
		color: $shade22;
		display: none;
		//height: 100%;
		left: 0;
		position: fixed;
		top: ($headerHeight) * 1px;
		/*width: $navWidth * 1px;*/
		width: 100%;
		z-index: 650;

		.ANONYMOUS & {
			display: none!important;
		}

		&.open {
			display: block;
		}

		@include size-md {
			display: block!important;
			top: ($headerHeight + $subpanelHeaderHeight) * 1px;
			top: ($headerHeight) * 1px;
			width: #{ $navWidth }px; //+ $gutter
			z-index: 200;
		}
		
		@include size-xl {
			body:not(.collapsed) & {			
			background-color: $shade21;
			@include box-shadow(3px,0px,10px,0px,$shadow);
			display: block;
			top: ($headerHeight) * 1px;
			width: $navWidthExpanded * 1px;
			z-index: 200;
			ul li a .name {
				display: block;
			}
			
			}	
		}
		
		.libraryPage & {
			@include box-shadow(3px,0px,10px,0px,$shadow);
			top: ($headerHeight) * 1px;
			width: $navWidthLibraryPage * 1px;
			z-index: 200;
			
			.libraryPageIcon {
				display: block;			
				border-radius: 2px;
				height: 26px; //TODO var
	  		    margin-left: $siteMargin * 1px;
				margin-right: 0.5em;
				margin-top: $gutter/2 * 1px;
				margin-bottom: $gutter * 1px;
				width: 26px; //TODO var
			
				use { fill: $shade22; }
			}
			
			h2 { 
				width: 100%; 
				text-indent: $siteMargin * 1px;
			}			
		}
		
		ul {
			margin-top: $gutter * 2px;
			margin-left: 14px; //$siteMargin * 1px;
			
			/*@include size-lg {
				margin-top: ($gutter + $subpanelHeaderHeight) * 1px;
			}*/
			
			.libraryPage & {
				margin-top: 0;
			}
						
			&#mainNav {
				.libraryPage & {
					bottom: $gutter * 1px;
					position: absolute;
				}
			}
			
			li {
				//line-height: 2em;
				margin: $gutter * 1px 0 0 0;
				
				a {
					color: $shade22;
					text-decoration: none;
					
					&:after {
					    content: "";
					    clear: both;
						display: block;
						width: 100%;	
					}
					
					&:hover {
						color: $primary;
						text-decoration: none;
						
						.icon {
							use { fill: $primary; }
						}
						span.icon {
							background-color: $primary;
						}
					}
					
					@media #{$mediaQueryDesktop} {
						&.active {
							color: $primary;
							.icon {
								use { fill: $primary; }
							}
						}
					}
					
					.name {
						line-height: 26px; // TODO var
						@include size-md {
							display: none;
						}
//						@include size-xl {
//							display: block;
//						}

						.libraryPage & {
							display: none;
						}
					}
					
					.icon {
						display: block;
						
						border-radius: 2px;
						float: left;
						height: 26px; //TODO var
						margin-right: 0.5em;
						width: 26px; //TODO var
						
						use { fill: $shade22; }
					}
					span.icon {
						background-color: $shade22;
						text-align:center;
						.fa-inverse {
							color: $shade21
						}
					}
				}
			}
			
			&#libraryPageNav {
				margin-left: 0;
				font-size: 14 / 16 * 1em;
				
				li {
					line-height: 2em;
					margin: 0;
					
					a {
						border-bottom: 1px $shade22 solid;
						display: block;
						padding-left: $siteMargin * 1px;
					}
					&.active a {
						background-color: $shade22;
						color: $white;
					}
					span {
						display: block;
						line-height: 1.3em;
						padding-left: $siteMargin * 1px;
						padding-top: 5px;
					}
				}
			}
		}
	}	
	@include size-md {
		&.expandedNav {
			nav {
				background-color: $shade21;
				@include box-shadow(3px,0px,10px,0px,$shadow);
				top: ($headerHeight) * 1px;
				width: $navWidthExpanded * 1px;			
				z-index: 200;
				
				ul {
//					margin-top: ($gutter + $subpanelHeaderHeight) * 1px;
				
					li a .name {
						display: block;
					}
				}
			}
		}
	}	
	&.hiddenNav {
		nav {
			//display: none;
		}
		@include size-md {
			nav {
				display: none;
			}
		}
	}

	.stretchable {
		min-height: 40vh;
		@include size-lg {
			min-height: auto;
		}
	}
}

//svg path { fill: inherit; }


/*
 * DIALOGS
 */

section.dialog {
	background: $shade11;
	@include border-box;
	display: none;
	//height: $dialogHeight * 1px;	
	left: 50%;
	//margin-left: 3 * ($colWidth + $gutter) * -.5px;
	//margin-top: $dialogHeight / 2 * -1px;
	max-width: 90%;
	padding: 0 $gutter * 1px $gutter * 1px $gutter * 1px;
	position: fixed;
	top: 50%;
	width: 3 * ($colWidth + $gutter) * 1px;
	z-index: 9999;
	transform: translate(-50%, -50%);
	@include box-shadow(3px,3px,10px,0px,$shadow);
	
	header {
		left: 0;
		margin-top: -1em;
		position: absolute;
		top: 0;
	}
	section {
		//height: 125px;	
		min-height: $dialogHeight * 1px;		
		margin-top: 15px;
		padding-bottom: 39px;
		position: relative;

		input[type="submit"], input[type="button"], button, .pseudobutton {
			&.bottom.right, &.bottom.left {
				bottom: 0;//$gutter * 1px;
				float: none;
				position: absolute;
				right: $gutter/2 * 1px;
			}
		}
	}
	#progressBar {
		background-color: $shade22;
		font-size: 0;
		height: 3px;
		position: relative;
		width: 100%;
		
		.bar {
			background-color: $primary;
			bottom: 0;
			height: 6px;
			position: absolute;
			width: 0px;
		}
	}
}

/*
 * LIGHTBOX
 */

section.lightbox {
	background-color: $white;
	border: $borderThickness $primaryLight solid;
	@include border-radius($defaultRadius);
	@include box-shadow(3px,3px,10px,0px,$shadow);
	display: none;
	height: 90%;
	left: 50%;	
	margin-left: -45%;
	margin-top: -45vh;
	position: fixed;
	top: 50%;
	width: 90%;
	z-index: 9999;
	
	header {
		
		border: $borderThickness $shade21 solid;
		@include border-radius($defaultRadius);
		bottom: $elementMarginBottom;
		height: 20px;
		left: $gutter * 1px;
		padding: $elementMarginBottom $gutter/2 * 1px;
		position: absolute;
		right: $gutter * 1px;
		top: $elementMarginBottom;
		
		.icons {
			position: absolute;
			right: (32 + $gutter) * 1px;
			top: 4px;

			.icon {
				
				height: 32px;
				margin-left: $gutter * 1px;
				width: 32px;
	
				use { fill: $primary; }
			}
		}
		
		.closeButton {
//			background: #ff0000;
			cursor: pointer;
			height: 32px;
			position: absolute;
			right: 5px;
			top: 7px;
			width: 32px;
			
			.icon {
				display: block;
				float: left;
				
				border-radius: 2px;
				float: left;
				height: 26px; //TODO var
				margin-right: 0.5em;
				width: 26px; //TODO var
				
				use { fill: $shade23; }
			}
		}
	}
	section {
		position: absolute;
		top: (30 + 2 * $gutter) * 1px;
		bottom: 75 + 30 + $borderThickness;
		width: 100%;
		
		iframe {
			height: 100%;
			width: 100%;			
		}
	}
	footer {
		border-top: $borderThickness $shade21 solid;
		bottom: 0;
		height: 75px;
		padding-top: $elementMarginBottom;
		position: absolute;
		width: 100%;		
		
		.row {
			position: relative;
			width: 100%;
		}
		
	}
}

/*
 * WELCOME PANEL 
 */

#welcomeDisplayPanel {
//	background-color: $shade10;
	
	background: $shade10 url(../images/bg-numworx-logo.png) no-repeat bottom right;
	background-size: contain;
	padding-top: 0;
	section {
		padding-top: ($headerHeight + $subpanelHeaderHeight) * 1px;
		padding-right: $gutter * 1px;
	}
	
	a {
		color: $primary;
		font-weight: bold;
		text-decoration: underline;
	}
}

#personsDisplay {
	.icon.editOptions {
		height: 24px;
		margin-left: $gutter * 1px;
		width: 24px;

		use { fill: $shade22; }
	}
	.icon.editOptions.active {
		use { fill: $primary; }
	}
}

#selectedResultsDisplay {
	.icon.btn {
		height: 32px;
		margin-left: $gutter * 1px;
		width: 32px;

		use { fill: $primary; }
	}
}

/*#modulesOfSchoolclassDisplay {
	tbody, #modulesOfSchoolclassDisplayTreeWrapper {
		height: 500px;
	}
}*/


.c-scrim {
	z-index: 999;
}
.c-datepicker {
	z-index: 9999;
	
	.c-datepicker__header-day, .c-datepicker__header-date {
		background-color: $primary;
	}
	.c-datepicker__back, .c-datepicker__next {
		background-color: $shade22;
		
		&:hover {
			background-color: $primary;
		}
	}
}


.filterIndicators {
	border-bottom: $borderThicknessResult $shade20 solid;
	display: inline-block;
	padding-bottom: $borderThickness;
	
	&.active {
		border-bottom: $borderThicknessResult $primary solid;
	}
	
	a {		
		background-color: $primaryLight;
		border: $borderThickness $shade21 solid;
		@include border-radius($defaultRadius);
		color: $black;
		display: inline-block;
		font-size: 12 / 17 * 1em;
		padding: 3px 9px;
		
	}
	&.result1 a { background-color: $scoreIndicator1; }
	&.result2 a { background-color: $scoreIndicator2; }
	&.result3 a { background-color: $scoreIndicator3; }
	&.result4 a { background-color: $scoreIndicator4; }
	&.result5 a { background-color: $scoreIndicator5; }
}





