/*

TABLE STYLES

- General dwo table styles (heads, hoverable, selectable)
- Results table
- Table wrapper (for XL tables)

*/


/*
 * GENERAL TABLE STYLES
 */ 

table.dwo { //:not(.c-datepicker__days)
	//table-layout: fixed;
//	max-width: 100%;
	
	border-collapse: collapse;
	//float: left;
	//height: 100px; max-height: 100px;
	position: relative;
	
	//margin-left: -2px;
//	overflow-y: hidden;
	text-align: left;
	min-width: 100%;

	height: 100%;//flex
	//height: calc( 100% - 4px);
	
	thead tr, tbody tr {
	    display:table;
	    min-width:100%;
	    table-layout:fixed;
	}
	
	thead {
		//width: 100%;
		//position: absolute;
		left: 0; right: 0;
	    @include border-box;
		display: block;
		//margin-right: $gutter * -1px;
		min-width: 100%;
				
		tr {
			//max-width: 100%;
			//&.headers th:first-child { padding-left: 0; }
			th { 
//				overflow-x: hidden;
				padding: $gutter / 2 * 1px $gutter / 2 * 1px!important;
				width: ($colWidth - $gutter) * 1px;
				float: none!important; // for if it has a col-class
				//white-space: nowrap;
				
				&:first-child { 
					//padding-left: 0!important;
//					padding-right: $gutter/2 * 1px!important;
					//text-indent: -7px; // -9
					//margin-left: -2px; //0
					//text-indent: -9px;
				}
				&:first-child {
					margin-left: -4px;
					margin-right: 0;
					text-indent: 4px;
				}

				&.centered {
					text-align: center;
				}
				
				.sortButton {
					cursor: pointer;
					display: inline-block;
					width: 13px; height: 13px;
					//width: 64px; height: 64px;
					margin: 0 5px 0 2px;
					
					//background-color: $primary;
					
					.icon {
						display: block;			
						height: 13px; //TODO var			
						width: 64/73.9 * 13px; //TODO var
									
						use { fill: $shade12; }
					}
					&.active .icon use { fill: $primary; }
					
				}
				
				> .sortButton {
					margin-left: 5px;
				}
				> .sortButton ~ .sortButton {
					margin-left: -2px;
				}
				.sortButton:first-child { 
					margin-left: 0;
					margin-right: 2px;
				}
				
			}
		}		
	}
	
	tbody {
		//box-shadow: 0 0 0 3px $primary inset; // border doesn't work combined with radius
		border: $borderThickness $primary solid;
	    @include border-box;
		@include border-radius($defaultRadius);
		background: $white;
		//height: 100%;//flex
		height: 100%;
		
		min-height: 6em;
		max-width: 100%;
		//position: absolute;
//		max-height: 200px;
		overflow-y: auto; //scroll
		top: 2em;
		display: block;
		
		-ms-overflow-style: -ms-autohiding-scrollbar;
		
		tr {
			border-bottom: 1px $line1 solid;				
			td {
				line-height: 1.3em;
				//border-bottom: 1px $line1 solid;
				//padding: 5px 10px;
				vertical-align: middle;
				padding: 4px $gutter / 2 * 1px!important;
				width: ($colWidth - ($gutter)) * 1px;
				float: none!important; // for if it has a col-class

				&:first-child {
					margin-left: -4px;
					margin-right: 0px;
					text-indent: 2px;
				}
				
				&.centered {
					text-align: center;
				}
				&.shortened {			
					overflow: hidden;	
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				span {
					display: inline-block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					width: 100%;
				}
			}	
			&.empty td, &.loading td {
				border-bottom-style: none;
			}
			
		}
	}

	&.sortable tbody {
		height: calc( 100% - #{ 21 }px);
	}
	
	&.hoverable tr:hover { //td// &.hoverable tr:focus td,  { //&.hoverable tr:hover td span {
		background-color: $shade12;
		color: $white;
		
		span:not(.sortButton) { 
			//background-color: $shade12;
		}
	}
		
	&.selectable {
		tr td {
			cursor: pointer;
			@include transition(all 500ms ease);
		}
		tr.selected {
			background-color: $shade12;
			td {
				color: $white;
			}
		}
		tr.new td {
			background-color: $primary;
			color: $white;
			//color: $danger;
		}
		input[type="checkbox"].hidden, input[type="radio"].hidden { position: absolute; opacity: 0;}
	}
	&.headered {
		height: calc( 100% - #{ 30 }px);
	}
	&.sortable {	
		height: calc( 100% - 12px);	//14, 24
		&.headered {
			margin-top: 24px;//(12 + 9 + 9) * 1px;	
			height: calc( 100% - #{ 39 }px);
		}
		
		thead {
			@include border-radius(4px, 4px, 0px, 0px); // doesn't work on tr
			border-left: $borderThickness $primary solid;
			border-top: $borderThickness $primary solid;
			border-right: $borderThickness $primary solid;
			
			tr:nth-child(1) {
				//margin-top: (12 + 9 + 9) * -1px;				
				//transform: translateY((12 + 9 + 9) * -1px);
				//margin-top: -5px;
				font-size: 0;
				line-height: 0;
				margin-top: -27px;
				margin-bottom: 9px;
				th {
					//display: table-cell;
					//margin-top: -12px; // (12 + 9 + 9) * -1px;	
					font-size: 12px;			
					
				}
				th:first-child {
					text-indent: -4px;
				}
			}
			
			tr.sorting {
				background-color: $shade11;				
				margin-top: 0; // for when it is the first row
				margin-bottom: 0; // for when it is the first row
				//padding-top: 0; // for when it is the first row
			    @include border-box;
				
				&:nth-child(1) {
					//margin-top: (12 + 9 + 9) * -1px;
				}
				
				th {
					margin-top: 0;
					text-align: left;
				}
				
				th:first-child {
					text-indent: 5px; // 1 fix 
				}	
			}
		}
		tbody {
			@include border-radius(0px, 0px, 4px, 4px);
			border-top-style: none;
		}
	}
	
	&.disabled tbody {
		background-color: $shade20;
	}

	tbody tr td.fill, thead tr th.fill {
		display: table-cell;
		width: 100%;
	}
}



/*
 * RESULTS TABLE
 */ 

table.dwo.results {
	//margin-right: 1 / 12 * $siteWidth * 1px;
	//max-height: 500px; 
	//height: auto;
	height: calc( 100% - 58px);
	//overflow-x: scroll;
	overflow-y: visible;
	min-width: 100vw;
	@include size-md {
		//min-width: auto;
		min-width: 100%;
	}

	
	
	//.size-2 & {	width: ($colWidth + $gutter + (0.5 * ($colWidth + $gutter))) * 1px; }
//	.size-3 & {	width: ($colWidth + $gutter + (1 * ($colWidth + $gutter))) * 1px; }
//	.size-4 & {	width: ($colWidth + $gutter + (1.5 * ($colWidth + $gutter))) * 1px; }
//	.size-5 & {	width: ($colWidth + $gutter + (2 * ($colWidth + $gutter))) * 1px; }
//	.size-6 & {	width: ($colWidth + $gutter + (2.5 * ($colWidth + $gutter))) * 1px; }
//	.size-7 & {	width: ($colWidth + $gutter + (3 * ($colWidth + $gutter))) * 1px; }
//	.size-8 & {	width: ($colWidth + $gutter + (3.5 * ($colWidth + $gutter))) * 1px; }
//	.size-9 & {	width: ($colWidth + $gutter + (4 * ($colWidth + $gutter))) * 1px; }
	//.size-2 & {	width: ($colWidth + $gutter + (1 * ($colWidth + $gutter))) * 1px; }
	
	
		
	//&:after {
//		content: "\00A0";
//		display: block;
//		right: $colWidth * -1px;
//	    position: absolute;
//	    top: 0;
//		width: $colWidth * 1px;
//	}
		
	th, td {
		//width: (1 / 12 * $siteWidth - 20) * 1px;
		//display: table-cell!important;
		text-align: center;
		min-width: (($colWidth/2) - $gutter) * 1px;
		@include user-select-none();

		&.expanded {
			min-width: (($colWidth) - $gutter) * 1px;
		}
		
		&:first-child {
			position: relative;
			text-align: left;
			width: ($colWidth + $gutter) * 1px;
			//width: ($colWidth) * 1px;
						
			span:not(.sortButton) { 
				background-color: $white;
				bottom: 0;
				display: block;
				left: 0;
				//line-height: 41px; //1.8em;
				line-height: 26px;
				padding: 0px 10px;
				position: absolute; 
				top: 0;
				width: ($colWidth - $gutter) * 1px;
				
				.active & { border-right: 1px $line1 solid;}
			}
		}
	}
	
	
	
	thead {
		border-left: $borderThickness $primary solid;
		@include border-radius(4px, 4px, 0px, 0px);		
		border-right: $borderThickness $primary solid;
		border-top: $borderThickness $primary solid;
		position: relative;
		
		tr {
			//th:first-child {
//
//				//margin-right: $gutter / 2 * -1px!important;
//			}
			&:nth-child(1) { // bar with single row/col header
				
				color: $white;
				position: absolute;
//				left: 1%;
				top: (16 + 4) * -1px;
				width: 98%;
							
				th {
					background-color: $primaryLight;
					padding: 2px $gutter/2 *1px;	
					text-indent: 10px;
					width: 98%;				
				}
				th:first-child {
					background-color: $primaryLight;
					left: $gutter * 1px;
					position: absolute;
					@include transition(all 50ms ease-in-out);
					width: (($colWidth) - $gutter - $gutter) * 1px;
					z-index: 8;
					
					.active & {
//						padding-right: $gutter * 1px;
						//position: absolute;
						width: (($colWidth) - $gutter) * 1px;
					}
					
					&:before {
						// hides header blocks
						background-color:$shade20;
						content: " ";
						height: 30px;
						left: 0;
						margin-top: -30px;
						position: absolute;
						top: 0;
						width: (($colWidth - $gutter)) * 1px;
						z-index: 10;
						
						.active & {
							width: (($colWidth)) * 1px;
						}
					}
				}
			}
			&:nth-child(2) { // multiple headers
				background-color: $shade11;
				border-bottom: $borderThickness $line1 solid;
				
				th:first-child {
					//background-color: $shade11;
					//height: 17px;
					//position: absolute;
					padding-left: 0!important;
					padding-right: 0!important;
					@include transition(all 50ms ease-in-out);
					//width: $colWidth * 1px;
					min-width: (($colWidth) + $gutter) * 1px;
					z-index: 10;					
				}
			
				th {
					display: table-cell;
					position: relative;
					//padding: $gutter / 2 * 1px $gutter / 2 * 1px!important;
					//padding: $gutter / 2 * 1px 0!important;
					min-width: (($colWidth/2) - $gutter) * 1px;

					&.expanded {
						min-width: (($colWidth) - $gutter) * 1px;
					}
					
					span {
						background-color: $shade11;
						border: $borderThickness $shade12 solid;
						@include border-box();
						cursor: pointer;
						display: block;
//						font-size: 13 / 16 * 1em;
						height: 64px;
						left: 50%;
						line-height: 1.3em;
						margin: -38px 0 0 0px;	// -54
						overflow: hidden;
						padding: 3px 5px;
						position: absolute;
						text-align: left;
						text-transform: none;
						top: 0;
						@include transition(background-color 200ms ease);
						transition-property: background-color, color;
						//width: (($colWidth - $gutter) / 2 - 10) * 1px;
						transform: translateX(-50%);
						width: (($colWidth/2) - $gutter)  * 1px;
						white-space: break-spaces;
						z-index: 9;
						
						.overflow & {
							&:after {
								bottom: 0;
								content: "";
								left: 0;
								position: absolute;
								right: 0;
								top: 0;  
	
								/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edeff1+0,edeff1+100&0+0,0+80,1+100 */
								background: -moz-linear-gradient(left, $shade11RGBA0 0%, $shade11RGBA0 70%, $shade11RGBA1 100%); /* FF3.6-15 */
								background: -webkit-linear-gradient(left, $shade11RGBA0 0%,$shade11RGBA0 70%,$shade11RGBA1 100%); /* Chrome10-25,Safari5.1-6 */
								background: linear-gradient(to right, $shade11RGBA0 0%,$shade11RGBA0 70%,$shade11RGBA1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00edeff1', endColorstr='#{$shade11}',GradientType=1 ); /* IE6-9 */
							}
							
						}	
						
						a {
							display: none;
						}					
						
						//word-break: break-all;
						//word-wrap: break-word;
						//text-overflow: ellipsis;
						//display: -webkit-box;
//						-webkit-line-clamp: 3;
//						-webkit-box-orient: vertical;
					}
					span.active, &.expanded span {
						background-color: $primary;
						border: $borderThickness $primary solid;
						@include box-shadow(3px,3px,10px,0px,$shadow);
						width: ($colWidth + $gutter) * 1px; //- 20 - 10
						z-index: 99;
						
						a {
							bottom: 3px;
							color: $shade12;
							display: none;
							position: absolute;
							right: 5px;
							
							&:after {
								background: transparent url(../images/results-columnheader-arrow.png) no-repeat top left;
								content: " ";
								display: inline-block;
								margin-left: 5px;
								margin-bottom:-1px;
								width: 12px; height: 12px;									
							}
						}
						&:after {
							display: none;
						}
					}
					
				}
			}
			&:nth-child(3) { //sorting
				background-color: $shade11;
				
				th:first-child {
					background-color: $shade11;
					text-indent: 10px;
					@include transition(all 50ms ease-in-out);
					min-width: $colWidth * 1px;
					//width: (($colWidth) - $gutter) * 1px;
				}			
			}			
		}
	}
	
	&.alternativeHeader thead {
		tr:nth-child(2), tr:nth-child(3) { 
			background-color: $white;
			th {
				span { 
					background-color: $white;
					color: $primary;
				}				
			}
		}
		tr:nth-child(2) {
			th {
				&:hover, &.expanded {
					span {
						background-color: $primary;
						color: $white;
					}
				}
			}
		}
		tr:nth-child(2) {
			border-bottom: 1px $line1 solid;
			
			th:first-child {
				//background-color: $white;
				//height: auto;
			}
		}
		tr:nth-child(3) {
			border-bottom: 1px $line1 solid;
			th:first-child {
				background-color: $white;

			}
		}
	}
	
	tbody {
		//max-width: 100%;
		//overflow: scroll;
		@include border-radius(0px, 0px, 4px, 4px);
		border-top-style: none;
		height: calc( 100% - 58px);
		//max-height: 500px;	
		
		
		tr {
			height: 26px;
		}
		
		td {
			
			&.studentName {
				overflow-x: visible;
				color: black;
				height: 16px;
//				overflow-y: hidden;
				position: relative;
				white-space: nowrap;
				//width: (($colWidth) - $gutter) * 1px;
				min-width: ($colWidth) * 1px;
				z-index: 9;
				
				span {
					height: 26px;
					overflow-x: hidden;
					overflow-y: hidden;
					@include transition(all 50ms ease-in-out);
					width: auto;
					
				}
				
				span.overflown:after {
					background-color: $white;
					content: "...";
					display: block;
					overflow-y: hidden;
					position: absolute;
					right: 0;
					top: 1px;
					width: 20px;
				}	
				
				.active & {
					//position: absolute;
				}
			}	
			
			a {
				cursor: pointer;
				display: block;
				width: 100%;
			}
			a.resultIndicator {
				background-color: $shade21;
				border-bottom: $borderThicknessResult $primary solid;
				cursor: pointer;
				display: block;	
				margin-top: -3px;		
				margin-bottom:-2px;
				width: 100%;
				z-index:10;
				
				
				@include transition(all 200ms ease);
				
				&:hover { 
					background-color: $primary;
					color: $white;
				}
								
				&.result1 {	border-color: $scoreIndicator1;	}
				&.result2 {	border-color: $scoreIndicator2;	}
				&.result3 {	border-color: $scoreIndicator3;	}
				&.result4 {	border-color: $scoreIndicator4;	}
				&.result5 { background-color: $scoreIndicator5; border-color: $scoreIndicator5; color: $white; }
				&.resultnone { border-color: $shade22; }
			}						
		}
		tr:hover td.studentName.overflown:after {
			background-color: $shade12!important;
		}	
	}
	
	tbody tr td.fill, thead tr th.fill {
		display: table-cell;
		//display: none;
		//width: 25px;
		//width: auto;
		width: 100%;
		//.size-2 & {	display: table-cell; width: (4.5 * ($colWidth + $gutter)) * 1px; }
//		.size-3 & {	display: table-cell; width: (4 * ($colWidth + $gutter)) * 1px; }
//		.size-4 & {	display: table-cell; width: (3.5 * ($colWidth + $gutter)) * 1px; }
//		.size-5 & {	display: table-cell; width: (3 * ($colWidth + $gutter)) * 1px; }
//		.size-6 & {	display: table-cell; width: (2.5 * ($colWidth + $gutter)) * 1px; }
//		.size-7 & {	display: table-cell; width: (2 * ($colWidth + $gutter)) * 1px; }
//		.size-8 & {	display: table-cell; width: (1.5 * ($colWidth + $gutter)) * 1px; }
//		.size-9 & {	display: table-cell; width: (1 * ($colWidth + $gutter)) * 1px; }
		
		/*.size-2 & {	display: table-cell; width: 10 * $colWidth / 2 * 1px; }
		.size-3 & {	display: table-cell; width: 9 * $colWidth / 2 * 1px; }
		.size-4 & {	display: table-cell; width: 8 * $colWidth / 2 * 1px; }
		.size-5 & {	display: table-cell; width: 7 * $colWidth / 2 * 1px; }
		.size-6 & {	display: table-cell; width: 6 * $colWidth / 2 * 1px; }
		.size-7 & {	display: table-cell; width: 5 * $colWidth / 2 * 1px; }
		.size-8 & {	display: table-cell; width: 4 * $colWidth / 2 * 1px; }
		.size-9 & {	display: table-cell; width: 3 * $colWidth / 2 * 1px; }
		.size-10 & {	display: table-cell; width: 2 * $colWidth / 2 * 1px; }
		.size-11 & {	display: table-cell; width: 1 * $colWidth / 2 * 1px; }*/
		//.size-12 & {	display: table-cell; width: 1 * $colWidth / 2 * 1px; }
	}	
}


/*
 * TABLE WRAPPER
 * Used for XL tables
 */

.tablewrap {
	width: 100%;
	//margin-bottom: $elementMarginBottom;
	min-height: 40vh; 
	@include size-lg {
		min-height: none;
	}
	//padding-top: 3em;
	/*&:last-of-type { 
		margin-bottom: 0; 
	}*/

	&.mb {
		margin-bottom: $elementMarginBottom;
	}

	table.dwo.results {
		margin-top: 3em;
	}
	
	&.overflow, &.overflow-always {
		overflow-x: scroll;
		overflow-y: auto;
		
		-ms-overflow-style: -ms-autohiding-scrollbar;
		
		-webkit-overflow-scrolling: touch;
		
	
		//position: relative;
		//border-right: $borderThickness $primary solid;
	
		&:after {
			//content: "";
			position: absolute;
			width: 1 / 12 * $siteWidth * 1px;
			top: 0;
			bottom: 0;
			pointer-events: none; /* click thru div to "verzegelen" of "copy to clipboard", anders bottom: 100px */
			right: -3px;
			@include transition(all 600ms ease);
			
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edeff1+0,edeff1+100&0+0,1+100 */
			background: -moz-linear-gradient(left, $shade20RGBA0 0%, $shade20RGBA1 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, $shade20RGBA0 0%,$shade20RGBA1 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, $shade20RGBA0 0%,$shade20RGBA1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00edeff1', endColorstr='#{$shade20}',GradientType=1 ); /* IE6-9 */
			z-index: 100;
		}
		
		&.end:after {
			opacity: 0;
		}

		table {
			thead {
				margin-right: 0;
			}
			tr {
				white-space: nowrap;
			}
		}
	}
	@include size-lg {
		&.overflow {
			overflow-x: auto;
			overflow-y: auto;
			&:after {
				display: none;
			}
		}
	}
}
