/*

TREE 
Tree, its wrapper and icons

- wrapper
- tree list
- icons

*/

.treeWrapper {
	background: $white;
	border: $borderThickness $primary solid;
	@include border-box;
	@include border-radius($defaultRadius);
	height: 100%;
	//max-height: 80%;
	min-height: 200px;
	margin-bottom: $elementMarginBottom;
	overflow-x: hidden;
	overflow-y: auto;
	//padding: 0px $gutter * 1px;
	padding: $gutter/2 * 1px;
	position: relative;
	width: 100%;
	
	-ms-overflow-style: -ms-autohiding-scrollbar;

	&.full {
		min-height: calc( 100vh - #{$headerHeight + $subpanelHeaderHeight + 6*$gutter}px );
		@include size-lg {
			min-height: 0;
		}
	}
	.gwt-Tree {
		bottom: $gutter / 2 * 1px;
		left: $gutter / 2 * 1px;
		position: absolute!important;
		right: $gutter / 2 * 1px; 
		top: $gutter / 2 * 1px;

		> div:last-child {
			padding-bottom: $gutter / 2 * 1px!important;
		}
	}
}

ul.tree {
	font-size: 14 / 16 * 1em;
	line-height: 27 / 14 * 1em;
	list-style-type: none;
	margin: $gutter * 1px 0;
	
	li {
		border-left: 1px $shade21 solid;
		padding-left: $gutter * 1px;
		position: relative;
		white-space: nowrap;
		
		&:before {
			background: transparent url(../images/tree-li-open.png);
			background-repeat: no-repeat;	
			content: "";
			display: inline-block;
			font-size: 0;
			height: 27px;
			margin-bottom: -8px;
			left: -3px;
			position: relative;	
			top: -8px;
			width: 12px;
		}	
		
		&:last-child:before {
			background: transparent url(../images/tree-li-open-last.png);
			background-repeat: no-repeat;	
		}
		
		
		&.hasSub, &.hS {
			ul {
				display: none;
				//font-size: 1em;
				//line-height: 1em;
				list-style-type: none;
			}
			
			&.open {
				> ul {
					display: block;
				}
			}
		}
		
		&.hasSub:before, &.hS:before {
			background: transparent url(../images/tree-li-hassub-closed.png);	
			background-repeat: no-repeat;
			content: "";
			display: inline-block;
			height: 27px;
			left: -4px;
			margin-bottom: -8px;
			position: relative;	
			top: 0px;
			width: 12px;
		}		
		&.hasSub.open:before, &.hS.open:before {
			background: transparent url(../images/tree-li-hassub-open.png);	
			//content: "";
//			display: inline-block;
//			height: 21px;
//			left: -3px;
//			position: relative;
//			top: 8px;
//			width: 12px;
		}
		
		&.hasSub:last-child:before, &.hS:last-child:before {
			background: transparent url(../images/tree-li-hassub-closed-last.png);	
			background-repeat: no-repeat;
		}
		&.hasSub.open:last-child:before, &.hS.open:last-child:before {
			background: transparent url(../images/tree-li-hassub-open-last.png);	
//			background-repeat: no-repeat;
		}
		
		span.indicator, span.ind {
			@include border-radius(50%);
			display: inline-block;
			height: 10px;
			
			width: 10px;
			&.previouslyChecked, &.pC {
				background-color: $shade22;
			}
			&.checked, &.c {
				background-color: $primary;
			}
		}
		
		div.checkbox, div.cb{
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	//> li:first-child {
//		border-left-style: none;
//	}
	
	
	
}

a.icon {
	cursor: pointer;
	left: -24px; // in order to make node clickable
	margin-right: -15px;
	padding-left: 22px;
	position: relative;
	
	&:before {
		content: "";
		display: inline-block;
		height: 15px;
		position: relative;
		margin-right: 10px;
		width: 16px;		
	}
	&.folder:before, &.fl:before {
		background: transparent url(../images/tree-folder.png);	
	}
	&.set:before {
		background-image: url(../images/tree-set.svg);	
		background-size: 24px;
		height: 21px;
		top: 0px;
		left: -3px;
		width: 21px;
	}
	&.item:before {
		background: green url(../images/tree-folder.png);	
	}
}